

<md-list-item *ngFor="let registration of registrations" [class.my-item-color]="isItMe(registration.playerId)" >
  <h3 md-line style="padding-bottom: 10px;">{{registration.playerName}}</h3>

  <p  md-line style="padding-top: 5px;">
    {{registration.teamName}} - {{registration.meta}} - {{registration.origin}}</p>

  <span class="md-secondary-spacer"></span>
  <span class="md-secondary">
    <img src="../../../assets/my_crown_small.png">{{registration.elo}}</span>
  <md-icon  class="md-secondary list-action negative">delete</md-icon>
  <md-icon  class="md-secondary list-action positive">check_circle</md-icon>
</md-list-item>
