<md-list-item
  *ngFor="let registration of registrations; let i = index; let even = even;"
  [ngClass]="isItMe(registration.playerId)"
  [ngClass]="{ even: even}">
  <h2 md-list-avatar>{{i+1}}</h2>
  <h3 md-line style="padding-bottom: 12px;">{{registration.playerName}}</h3>

  <p md-line style="padding-top: 6px;">
    {{registration.teamName}} - {{registration.meta}} - {{registration.origin}}</p>

  <p md-line style="padding-top: 6px;">
    {{registration.faction}}</p>

  <span class="md-secondary-spacer"></span>
  <img class="md-secondary" src="../../../assets/my_crown_small.png">
  <span class="md-secondary">{{registration.elo}}</span>
  <md-icon *ngIf="isAdmin || isItMe(registration.playerId)" class="md-secondary list-action"
           (click)="addArmyLists(registration)">playlist_add_check
  </md-icon>
  <ng-container *ngIf="isAdmin && !registration.isTournamentPlayer">
    <md-icon  class="md-secondary list-action negative" (click)="deleteRegistration(registration)">delete
    </md-icon>
    <md-icon class="md-secondary list-action positive" (click)="addTournamentPlayer(registration)">
      check_circle
    </md-icon>
    <a  href='mailto:{{registration.email}}' style="padding-top: 12px">
      <md-icon class="md-secondary list-action">email</md-icon>
    </a>
  </ng-container>
</md-list-item>
