<mdl-list-item lines="3"
               class="list-item"
               *ngFor="let registration of registrations; let i = index; let even = even;"
               [ngClass]="{'even': even, 'my-item-color':isItMe(registration.playerId)} ">
  <mdl-list-item-primary-content>
    <mdl-icon mdl-list-item-avatar mdl-badge="{{i +1}}" mdl-badge-overlap>person</mdl-icon>
    <span>{{registration.playerName}}</span>

    <mdl-list-item-text-body>
      <div>{{registration.faction}}</div>
      <div>{{registration.teamName}} - {{registration.meta}} - {{registration.origin}}</div>
    </mdl-list-item-text-body>
  </mdl-list-item-primary-content>
  <span class="md-secondary-spacer"></span>
  <mdl-list-item-secondary-content>
    <mdl-list-item-secondary-info>ELO</mdl-list-item-secondary-info>
    <span>{{registration.elo}}<img class="md-secondary" src="../../../assets/my_crown_small.png"></span>
  </mdl-list-item-secondary-content>


  <ng-container *ngIf="isAdmin && !registration.isTournamentPlayer">
    <mdl-list-item-secondary-content>
      <md-icon class="negative  list-action" (click)="deleteRegistration(registration)">delete</md-icon>
    </mdl-list-item-secondary-content>
    <mdl-list-item-secondary-content>
      <md-icon class="positive  list-action" (click)="acceptRegistration(registration)">check_circle</md-icon>
    </mdl-list-item-secondary-content>
    <mdl-list-item-secondary-content>
      <a href='mailto:{{registration.email}}'><md-icon class="info list-action">email</md-icon></a>
    </mdl-list-item-secondary-content>
  </ng-container>
</mdl-list-item>


