<md-card class="login-container">
  <h1 class="login-container-heading">Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-group">
      <md-input-container class="full-width">
        <input mdInput placeholder="Login/Email" formControlName="login">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="Password" formControlName="password">
      </md-input-container>
    </div>

    <button md-raised-button type="submit" class="login-button" color="primary"
            [disabled]="loginForm.pristine">SignIn
    </button>
  </form>
  <hr>
  <button md-raised-button class="login-button" color="primary" (click)="login()">
    Login Anonymous
  </button>
  <hr>
  <button md-raised-button class="login-button" color="primary" (click)="login('google')">
    Login With Google
  </button>
  <hr>
  <button md-raised-button class="login-button" color="primary" (click)="login('facebook')">
    Login With Facebook
  </button>
  <hr>
  <button md-raised-button class="login-button" color="accent" (click)="register()">
    Register
  </button>
</md-card>
