<h3 class="heading">New Tournament Player</h3>

<form #tournamentPlayerForm="ngForm">
  <md-input-container
    class="full-width">
    <input
      mdInput
      type="text"
      placeholder="Full PlayerName"
      maxlength="50"
      required
      #fullPlayerName
      (blur)="checkName()"
      [(ngModel)]="tournamentPlayerModel.playerName" name="playerName">
    <md-hint *ngIf="playerNameAlreadyInUse" align="start" class="color-negative">
      There is already a Player with that name</md-hint>
    <md-hint align="end">{{fullPlayerName.value.length}} / 50</md-hint>
  </md-input-container>
  <md-input-container
    class="full-width">
    <input
      mdInput
      type="text"
      placeholder="TeamName"
      maxlength="50"
      [(ngModel)]="tournamentPlayerModel.teamName"
      name="teamName"
      #teamName>
    <md-hint align="end">{{origin.value.length}} / 50</md-hint>
  </md-input-container>
  <md-input-container
    class="full-width">
    <input
      mdInput
      type="text"
      placeholder="Locality"
      maxlength="50"
      [(ngModel)]="tournamentPlayerModel.meta"
      name="meta"
      #meta>
    <md-hint align="end">{{meta.value.length}} / 50</md-hint>
  </md-input-container>
  <md-select
    class="full-width-select-box"
    placeholder="Country"
    #country
    name="country"
    [(ngModel)]="tournamentPlayerModel.country">
    <md-option *ngFor="let country of countries" [value]="country">{{ country }}</md-option>
  </md-select>
  <md-select
    class="full-width-select-box"
    placeholder="Faction"
    #faction
    name="faction"
    [(ngModel)]="tournamentPlayerModel.faction">
    <md-option *ngFor="let faction of factions" [value]="faction">{{ faction }}</md-option>
  </md-select>
</form>
<div md-dialog-actions>
  <div class="full-width">
  <button type="button" color="primary" md-raised-button (click)="dialogRef.close()">Close Dialog</button>
  <button *ngIf="playerNameAlreadyInUse"
          type="button"
          class="right-align-button color-negative-background"
          md-raised-button
          [disabled]="true">
    <md-icon>warning</md-icon>
    PlayerName already in use
  </button>
  <button *ngIf="dummyNotAllowed"
          type="button"
          class="right-align-button color-negative-background"
          md-raised-button
          [disabled]="true">
    <md-icon>warning</md-icon>
    Dummy ist not a valid name
  </button>
  <button *ngIf="!playerNameAlreadyInUse && !dummyNotAllowed"
          type="button"
          color="accent"
          md-raised-button
          class="right-align-button"
          (click)="saveTournamentPlayer()"
          [disabled]="tournamentPlayerForm.invalid">
    <md-icon>add</md-icon>
    Save Tournament Player
  </button>
  </div>
</div>
