.action-card-container{
  display: flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}

.action-card{
  width: 400px;
  justify-content: center;
}

.content-cards-container{
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
}


