
<div class="action-card-container">
  <md-card class="action-card" >
    <button *ngIf="currentUserId === actualTournament?.creatorUid" type="button" color="accent" md-raised-button>
      <md-icon>build</md-icon>
      Edit
    </button>
    <button *ngIf="currentUserId === actualTournament?.creatorUid"
            (click)="openStartTournamentDialog()"
            type="button"
            color="accent"
            md-raised-button>
      <md-icon>play_arrow</md-icon>
      Start
    </button>
    <button *ngIf="userPlayerData && !myRegistration"
            (click)="openRegistrationDialog()"
            type="button"
            color="accent"
            md-raised-button>
      <md-icon>add</md-icon>
      Register me
    </button>
    <button *ngIf="myRegistration"
            (click)="onDeleteRegistration(myRegistration)"
            type="button"
            color="accent"
            md-raised-button>
      <md-icon>delete</md-icon>
    Delete my Registration
    </button>
  </md-card>

  <md-card class="action-card" *ngIf="!userPlayerData">
    <md-card-title>Want to register for Tournament?</md-card-title>
    <md-card-subtitle>No Problem just create your Player-Profile</md-card-subtitle>
    <md-card-actions>
      <button *ngIf="!loggedIn" type="button" color="primary" md-raised-button routerLink="/login">First
        Login/Register
      </button>
      <button *ngIf="loggedIn" type="button" color="primary" md-raised-button routerLink="/player-profile">Create Player
        Profile
      </button>
    </md-card-actions>
  </md-card>
</div>
<div class="content-cards-container">
  <md-card class="registration-card">
    <h3 *ngIf="actualTournamentRegisteredPlayers.length == 0" class="list-heading">
      No Registrations found
    </h3>
    <h2 *ngIf="actualTournamentRegisteredPlayers.length > 0" class="list-heading">
      Registrations ({{actualTournamentRegisteredPlayers.length}})
    </h2>
    <md-list>
      <tournament-registration-list
        [isAdmin]="currentUserId === actualTournament?.creatorUid"
        [userPlayerData]="userPlayerData"
        [registrations]="actualTournamentRegisteredPlayers"
        (onSaveTournamentPlayer)="onSaveTournamentPlayer($event)"
        (onDeleteRegistration)="onDeleteRegistration($event)"
        (onAddArmyLists)="onAddArmyLists($event)">
      </tournament-registration-list>
    </md-list>
  </md-card>
  <md-card *ngIf="currentUserId === actualTournament?.creatorUid" class="tournament-player-card">
    <h2 *ngIf="allActualTournamentPlayers.length > 0" class="list-heading">
      Tournament Players ({{filteredActualTournamentPlayers.length}}/{{allActualTournamentPlayers.length}})
    </h2>
    <h3 *ngIf="allActualTournamentPlayers.length == 0" class="list-heading">
      No Tournament Players found</h3>
    <button *ngIf="currentUserId === actualTournament.creatorUid" type="button" color="accent" md-raised-button (click)="addTournamentPlayer()">
      <md-icon>add</md-icon>
      Add Player
    </button>
    <md-input-container class="search-field">
      <input type="text"
             mdInput
             placeholder="Filter Tournament Player"
             #searchInput
             (keyup)="filter(searchInput.value)">
    </md-input-container>
    <md-list>
      <tournament-player-list
          [isAdmin]="currentUserId === actualTournament?.creatorUid"
          [userPlayerData]="userPlayerData"
          [tournamentPlayers]="filteredActualTournamentPlayers"
          (onDeleteTournamentPlayer)="onDeleteTournamentPlayer($event)">
      </tournament-player-list>
    </md-list>
  </md-card>
</div>
