<div class="action-card-container">
  <md-card
    *ngIf="(actualTournament?.actualRound === 0 &&
            isAdmin); else nonAdmin"
    class="action-card">
    <div class="action-button-wrapper">

      <button (click)="openPrintArmyListDialog()"
              type="button"
              class="color-positive-background action-button"
              md-raised-button>
        <md-icon>list</md-icon>
        Print Lists
      </button>
      <button (click)="openTournamentFormDialog()"
              type="button"
              class="color-positive-background action-button"
              md-raised-button>
        <md-icon>build</md-icon>
        Edit
      </button>
      <button *ngIf="allActualTournamentPlayers?.length > 1"
              (click)="openStartTournamentDialog()"
              type="button"
              class=" color-positive-background action-button"
              md-raised-button>
        <md-icon>play_arrow</md-icon>
        Start Tournament
      </button>
      <ng-container *ngIf="actualTournament?.actualRound === 0 && actualTournament?.teamSize === 0">
        <button *ngIf="userPlayerData && !myRegistration "
                type="button"
                (click)="openRegistrationDialog()"
                class="color-positive-background action-button"
                md-raised-button>
          <md-icon>add</md-icon>
          Register me
        </button>
        <button *ngIf="myRegistration && !alreadyInTournament()"
                (click)="deleteMyRegistration(myRegistration)"
                type="button"
                class="color-negative-background action-button"
                md-raised-button>
          <md-icon>delete</md-icon>
          I'm out
        </button>
       </ng-container>
      <ng-container *ngIf="actualTournament?.actualRound === 0 && actualTournament?.teamSize > 0">
        <button *ngIf="userPlayerData && !teamCreator "
                type="button"
                (click)="openRegisterTeamDialog()"
                class="color-positive-background action-button"
                md-raised-button>
          <md-icon>group_add</md-icon>
          Register Team
        </button>
        <button *ngIf="userPlayerData && teamCreator "
                type="button"
                class="color-positive-background action-button"
                (click)="openShowTeamDialog()"
                md-raised-button>
          <md-icon>edit</md-icon>
          Manage My Team
        </button>
        <button *ngIf="myRegistration && !alreadyInTournament()"
                (click)="deleteMyRegistration(myRegistration)"
                type="button"
                class="color-negative-background action-button"
                md-raised-button>
          <md-icon>delete</md-icon>
          I'm out
        </button>
      </ng-container>
    </div>
  </md-card>
  <ng-template #nonAdmin>
    <md-card class="action-card" *ngIf="actualTournament?.actualRound === 0 && userPlayerData">
      <div class="action-button-wrapper">
        <button *ngIf="!myRegistration && actualTournament?.teamSize === 0"
                type="button"
                (click)="openRegistrationDialog()"
                class="color-positive-background action-button"
                md-raised-button>
          <md-icon>add</md-icon>
          Register
        </button>
        <button *ngIf="userPlayerData && teamCreator "
                type="button"
                class="color-positive-background action-button"
                (click)="openShowTeamDialog()"
                md-raised-button>
          <md-icon>edit</md-icon>
          Manage Team
        </button>
        <button *ngIf="!teamCreator && actualTournament?.teamSize > 0"
                type="button"
                (click)="openRegisterTeamDialog()"
                class="color-positive-background action-button"
                md-raised-button>
          <md-icon>group_add</md-icon>
          Register Team
        </button>
        <h4 *ngIf="!myRegistration && actualTournament?.teamSize > 0 && teamCreator">
          Join a Team!
        </h4>
        <button *ngIf="myRegistration && !alreadyInTournament()"
                (click)="deleteMyRegistration(myRegistration)"
                type="button"
                class="color-negative-background action-button"
                md-raised-button>
          <md-icon>delete</md-icon>
          I'm out
        </button>
        <div *ngIf="myRegistration && alreadyInTournament()">
          <md-icon class="color-positive align-fix">done</md-icon>
          You are added to the Tournament
        </div>
      </div>
    </md-card>
  </ng-template>
  <md-card class="action-card" *ngIf="!userPlayerData">
    <md-card-title>Want to register for Tournament?</md-card-title>
    <md-card-subtitle>No Problem just create your Player-Profile</md-card-subtitle>
    <md-card-actions>
      <button *ngIf="!loggedIn" type="button" color="primary" md-raised-button routerLink="/login">First
        Login/Register
      </button>
      <button *ngIf="loggedIn" type="button" color="primary" md-raised-button routerLink="/player-profile">Create Player
        Profile
      </button>
    </md-card-actions>
  </md-card>

  <div class="content-cards-container">
    <ng-container *ngIf="!allRegistrations" >
      <div class="heading">Load Registrations... <mdl-spinner  single-color active></mdl-spinner></div>
    </ng-container>
    <md-card class="registration-list-card" *ngIf="actualTournament?.teamSize === 0">
      <h4 *ngIf="allRegistrations.length == 0" class="heading">
        No Registrations found
      </h4>
      <h4 *ngIf="allRegistrations.length > 0" class="heading">
        Registrations ({{allRegistrations.length}})
      </h4>
      <mdl-list>
        <tournament-registration-list
          [actualTournament]="actualTournament"
          [isAdmin]="isAdmin"
          [userPlayerData]="userPlayerData"
          [registrations]="allRegistrations"
          [actualTournamentArmyList$]="armyLists$"
          (onAcceptRegistration)="acceptRegistration($event)"
          (onDeleteRegistration)="deleteMyRegistration($event)"
          (onAddArmyListForRegistrationDialog)="openAddArmyListForRegistrationDialog($event)"
          (onPlayerRegChangeEventSubscribe)="handlePlayerRegChange($event)">
        </tournament-registration-list>
      </mdl-list>
    </md-card>
    <md-card class="registration-list-card" *ngIf="actualTournament?.teamSize > 0">
      <h4 *ngIf="tournamentTeamRegistrations === 0" class="heading">
        No Registered Teams found
      </h4>
      <h4 *ngIf="tournamentTeamRegistrations > 0" class="heading">
        Registered Teams {{tournamentTeamRegistrations}}
      </h4>

      <mdl-list>
        <tournament-team-registration-list
          [actualTournament]="actualTournament"
          [userPlayerData]="userPlayerData"
          [myRegistration]="myRegistration"
          [myTeam]="myTeam"
          [allRegistrations]="allRegistrations"
          [actualTournamentTeamRegistrations$]="actualTournamentTeamRegistrations$"
          (onAddTournamentRegistration)="handleAddTournamentRegistration($event)"
          (onAcceptTeamRegistration)="handleAcceptTeamRegistration($event)"
          (onEraseTeamRegistration)="handleEraseTeamRegistration($event)"
          (onKickPlayer)="handleKickTournamentPlayer($event)"
          (onAddArmyListsForTeam)="openAddArmyListForRegistrationDialogForTeam($event)"
          (onTeamRegChangeEventSubscribe)="handleTeamRegChange($event)">
        </tournament-team-registration-list>
      </mdl-list>
    </md-card>
    <ng-container *ngIf="!allActualTournamentPlayers" >
      <div class="heading">Load TournamentPlayer... <mdl-spinner  single-color active></mdl-spinner></div>
    </ng-container>
    <md-card *ngIf="currentUserId === actualTournament?.creatorUid && actualTournament?.teamSize === 0"
             class="tournament-list-card">

      <h4 *ngIf="allActualTournamentPlayers.length == 0" class="heading">
        No Tournament Players found
      </h4>
      <h4 *ngIf="allActualTournamentPlayers.length > 0" class="heading">
        Tournament Players ({{filteredActualTournamentPlayers.length}}/{{allActualTournamentPlayers.length}})
      </h4>
      <button *ngIf="actualTournament?.actualRound === 0"
              type="button" color="accent" md-raised-button (click)="addTournamentPlayer()">
        <md-icon>person_add</md-icon>
        Add Player
      </button>
      <md-input-container class="search-field">
        <input mdInput
               placeholder="Filter Tournament Player"
               #searchInput
               (keyup)="filter(searchInput.value)">
      </md-input-container>
      <mdl-list>
        <tournament-player-list
          [actualTournamentArmyList$]="armyLists$"
          [actualTournament]="actualTournament"
          [isAdmin]="isAdmin"
          [userPlayerData]="userPlayerData"
          [tournamentPlayers]="filteredActualTournamentPlayers"
          (onAddArmyLists)="addArmyListForTournamentPlayer($event)"
          (onDeleteTournamentPlayer)="deleteTournamentPlayer($event)">
        </tournament-player-list>

      </mdl-list>
    </md-card>
    <md-card *ngIf="currentUserId === actualTournament?.creatorUid && actualTournament?.teamSize > 0"
             class="tournament-list-card">
      <h4 *ngIf="tournamentTeams == 0" class="heading">
        No Teams found
      </h4>
      <h4 *ngIf="tournamentTeams > 0" class="heading">
        Tournament Teams {{tournamentTeams}}
      </h4>
      <div class="action-button-wrapper">
        <button *ngIf="actualTournament?.actualRound === 0"
                type="button"
                class="color-positive-background action-button"
                md-raised-button
                (click)="openCreateTeamDialog()">
          <md-icon>group_add</md-icon>
          Create Team
        </button>
      </div>
      <mdl-list>
        <tournament-team-list
          [isAdmin]="isAdmin"
          [actualTournamentArmyList$]="actualTournamentArmyList$"
          [actualTournament]="actualTournament"
          [userPlayerData]="userPlayerData"
          [allActualTournamentPlayers]="allActualTournamentPlayers"
          [actualTournamentTeams$]="actualTournamentTeams$"
          (onEraseTournamentTeam)="handleEraseTournamentTeam($event)"
          (onAddTournamentPlayer)="handleAddTournamentPlayer($event)"
          (onKickTournamentPlayer)="handleKickTournamentPlayer($event)"
          (onAddArmyLists)="addArmyListForTournamentPlayer($event)">
        </tournament-team-list>
      </mdl-list>
    </md-card>
  </div>
</div>
