<h4 *ngIf="!fullscreenMode" class="heading">{{actualTournament?.name}}</h4>
<h4 *ngIf="!fullscreenMode && isAdmin" class="sub-heading">Hello Organizer</h4>
<h4 *ngIf="!fullscreenMode && isCoOrganizer" class="sub-heading">Hello Co-Organizer</h4>
<h4 *ngIf="!fullscreenMode && isTournamentPlayer" class="sub-heading">Hello Player</h4>

<div class="actual-tournament-nav-container">
  <button *ngIf="!fullscreenMode"
          type="button"
          md-raised-button
          class="color-primary-background action-button"
          [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
    Teams
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item disabled>
      Active -> Teams
    </button>
    <button md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'registrations']);">
      Go to -> Registrations
    </button>
    <button *ngFor=" let round of getArrayForNumber(actualTournament?.actualRound) ;let index = index;"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'round', round]);">
      Go to -> Round {{index +1}}
    </button>
    <button *ngIf="actualTournament?.finished"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'finalRankings']);">>
      Go to -> Final Rankings
    </button>
  </md-menu>
</div>
<h2 class="heading">Teams ({{(allTournamentTeams$| async)?.length}})</h2>

<div class="action-card-container" *ngIf="isAdmin || isCoOrganizer">
  <md-card class="action-card action-button-wrapper">
    <button (click)="openPrintArmyListDialog()"
            type="button"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>list</md-icon>
      Print Lists
    </button>
    <button (click)="openTournamentFormDialog()"
            type="button"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>build</md-icon>
      Edit
    </button>
    <button *ngIf="(allTournamentPlayers$ | async)?.length > 1 && actualTournament?.actualRound === 0 && isTeamTournament"
            (click)="openStartTeamTournamentDialog()"
            type="button"
            class=" color-positive-background action-button"
            md-raised-button>
      <md-icon>play_arrow</md-icon>
      Start Tournament
    </button>

    <button *ngIf="userPlayerData.id === '-KhS1c-TCch2ftWtTAMw'"
            (click)="kill()"
            type="button"
            class=" color-negative-background action-button"
            md-raised-button>
      <md-icon>play_arrow</md-icon>
      KILL
    </button>

    <button *ngIf="userPlayerData.id === '-KhS1c-TCch2ftWtTAMw'"
            (click)="createRandomTeams()"
            type="button"
            class=" color-positive-background action-button"
            md-raised-button>
      <md-icon>play_arrow</md-icon>
      !Random Teams!
    </button>
  </md-card>
</div>


<div class="action-card-container">
  <md-input-container class="teams-search-container" floatPlaceholder="never">
    <input class="search-field" mdInput #searchField placeholder="Search for TeamName">
  </md-input-container>

  <button *ngIf="actualTournament?.actualRound === 0 && isTeamTournament"
          color="accent"
          class="action-button"
          md-raised-button (click)="openCreateTeamDialog()">
    <md-icon>group_add</md-icon>
    Add Team
  </button>
</div>

<ng-container *ngIf="(loadTeams$ | async)">
  <div class="heading">Load Teams...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!isTeamTournament">
  <div class="heading">
    Team view only useful in solo tournament. Go to Players.
  </div>
  <button md-raised-button
          class="color-primary-background action-button"
          (click)="router.navigate(['/tournament', actualTournament?.id, 'players']);">
    Go to -> Players
  </button>
</ng-container>
<tournament-team-list *ngIf="(allTournamentTeamsFiltered$ | async)?.length > 0"
                        [actualTournament]="actualTournament"
                        [tournamentTeams]="allTournamentTeamsFiltered$ | async"
                        [userPlayerData]="userPlayerData"
                        [armyLists]="allArmyLists$ | async"
                        [allActualTournamentPlayers]="allActualTournamentPlayers"
                        [isAdmin]="isAdmin"
                        [isCoOrganizer]="isCoOrganizer"
                        (onAddArmyLists)="handleAddArmyLists($event)">
</tournament-team-list>


