<h1 *ngIf="!fullscreenMode" class="heading">{{actualTournament?.name}}</h1>


<mdl-tabs  mdl-ripple [mdl-tab-active-index]="selectedIndex">
  <mdl-tab-panel   mdl-tab-panel-title="Tournament Preparation" [disabled]="fullscreenMode">
    <tournament-preparation
      [authenticationStoreState$]="authenticationStoreState$"
      [actualTournament]="actualTournament"
      [actualTournamentArmyList$]="actualTournamentArmyList$"
      [allActualTournamentPlayers$]="allActualTournamentPlayers$"
      [actualTournamentRegisteredPlayers$]="actualTournamentRegisteredPlayers$"
      (onStartTournament)="handleStartTournament($event)"
      (onSaveTournament)="handleEditTournament($event)"
      (onAddDummyPlayer)="handleAddDummyPlayer()"
      (onAddTournamentPlayer)="handleAddTournamentPlayer($event)"
      (onAcceptRegistration)="handleAcceptRegistration($event)"
      (onAddTournamentRegistration)="handleAddTournamentRegistration($event)"
      (onAddArmyList)="handleAddArmyList($event)"
      (onDeleteArmyList)="handleDeleteArmyList($event)"
      (onDeleteTournamentPlayer)="handleDeleteTournamentPlayer($event)"
      (onDeleteRegistration)="handleDeleteRegistration($event)"
    ></tournament-preparation>
  </mdl-tab-panel>
  <ng-container *ngIf="currentUserId === actualTournament?.creatorUid">
    <mdl-tab-panel  *ngFor=" let round of getArrayForNumber(actualTournament?.actualRound) ;let index = index;"
                    mdl-tab-panel-title="Round {{index +1}}"
                    [disabled]="fullscreenMode">
        <tournament-round-overview
          [round]="round"
          [actualTournament]="actualTournament"
          [authenticationStoreState$]="authenticationStoreState$"
          [actualTournamentArmyLists$]="actualTournamentArmyList$"
          [gamesForRound$]="getGamesForRound(round)"
          [rankingsForRound$]="getRankingsForRound(round)"
          (onPairAgain)="handlePairAgain($event)"
          (onNewRound)="handleNewRound($event)"
          (onKillRound)="handleKillRound($event)"
          (onSwapPlayer)="handleSwapPlayer($event)"
          (onGameResult)="handleGameResult($event)"
          (onPublishRound)="handlePublishRound($event)"
          (onEndTournament)="handleEndTournament($event)"
        ></tournament-round-overview>
      </mdl-tab-panel>
  </ng-container>
  <ng-container *ngIf="currentUserId !== actualTournament?.creatorUid" >
    <mdl-tab-panel *ngFor=" let round of getArrayForNumber(actualTournament?.visibleRound) ;let index = index;"
                   mdl-tab-panel-title="Round {{index +1}}"
                   [disabled]="fullscreenMode">
      <tournament-round-overview
        [round]="round"
        [actualTournament]="actualTournament"
        [authenticationStoreState$]="authenticationStoreState$"
        [actualTournamentArmyLists$]="actualTournamentArmyList$"
        [gamesForRound$]="getGamesForRound(round)"
        [rankingsForRound$]="getRankingsForRound(round)"
        (onKillRound)="handleKillRound($event)"
        (onPairAgain)="handlePairAgain($event)"
        (onNewRound)="handleNewRound($event)"
        (onGameResult)="handleGameResult($event)"
        (onPublishRound)="handlePublishRound($event)"
      ></tournament-round-overview>
      </mdl-tab-panel>
  </ng-container>

  <mdl-tab-panel [disabled]="fullscreenMode" *ngIf="actualTournament?.finished"  mdl-tab-panel-title="Results">
    <tournament-final-rankings
      [actualTournament]="actualTournament"
      [authenticationStoreState$]="authenticationStoreState$"
      [actualTournamentArmyList$]="actualTournamentArmyList$"
      [finalRankings$]="getFinalRanking()"
      (onUndoTournamentEnd)="handleUndoTournamentEnd($event)"
      (onUploadTournament)="handleUploadTournament()"
    ></tournament-final-rankings>
    </mdl-tab-panel>
</mdl-tabs>

