<h1 class="heading">{{actualTournament?.name}}</h1>

<md-tab-group  [selectedIndex]="selectedIndex">
  <md-tab  label="TournamentPreparation">
    <tournament-preparation
      [authenticationStoreState$]="authenticationStoreState$"
      [actualTournament]="actualTournament"
      [actualTournamentArmyList$]="actualTournamentArmyList$"
      [allActualTournamentPlayers$]="allActualTournamentPlayers$"
      [actualTournamentRegisteredPlayers$]="actualTournamentRegisteredPlayers$"
      (onStartTournament)="handleStartTournament($event)"
      (onSaveTournament)="handleEditTournament($event)"
      (onAddDummyPlayer)="handleAddDummyPlayer()"
      (onAddTournamentPlayer)="handleAddTournamentPlayer($event)"
      (onAcceptRegistration)="handleAcceptRegistration($event)"
      (onAddTournamentRegistration)="handleAddTournamentRegistration($event)"
      (onAddArmyList)="handleAddArmyList($event)"
      (onDeleteArmyList)="handleDeleteArmyList($event)"
      (onDeleteTournamentPlayer)="handleDeleteTournamentPlayer($event)"
      (onDeleteRegistration)="handleDeleteRegistration($event)"
    ></tournament-preparation>
  </md-tab>
  <ng-container *ngIf="currentUserId === actualTournament?.creatorUid"><
    <md-tab  *ngFor=" let round of getArrayForNumber(actualTournament?.actualRound) ;let index = index;" label="Round {{index +1}}">
        <tournament-round-overview
          [round]="round"
          [actualTournament]="actualTournament"
          [authenticationStoreState$]="authenticationStoreState$"
          [actualTournamentArmyLists$]="actualTournamentArmyList$"
          [gamesForRound$]="getGamesForRound(round)"
          [rankingsForRound$]="getRankingsForRound(round)"
          (onPairAgain)="handlePairAgain($event)"
          (onNewRound)="handleNewRound($event)"
          (onKillRound)="handleKillRound($event)"
          (onGameResult)="handleGameResult($event)"
          (onPublishRound)="handlePublishRound($event)"
          (onEndTournament)="handleEndTournament($event)"
        ></tournament-round-overview>
    </md-tab>
  </ng-container>
  <ng-container *ngIf="currentUserId !== actualTournament?.creatorUid" >
    <md-tab  *ngFor=" let round of getArrayForNumber(actualTournament?.visibleRound) ;let index = index;" label="Round {{index +1}}">
      <tournament-round-overview
        [round]="round"
        [actualTournament]="actualTournament"
        [authenticationStoreState$]="authenticationStoreState$"
        [actualTournamentArmyLists$]="actualTournamentArmyList$"
        [gamesForRound$]="getGamesForRound(round)"
        [rankingsForRound$]="getRankingsForRound(round)"
        (onKillRound)="handleKillRound($event)"
        (onPairAgain)="handlePairAgain($event)"
        (onNewRound)="handleNewRound($event)"
        (onGameResult)="handleGameResult($event)"
        (onPublishRound)="handlePublishRound($event)"
      ></tournament-round-overview>
    </md-tab>
  </ng-container>

  <md-tab *ngIf="actualTournament?.finished"  label="Results">
    <tournament-final-rankings
      [actualTournament]="actualTournament"
      [authenticationStoreState$]="authenticationStoreState$"
      [actualTournamentArmyList$]="actualTournamentArmyList$"
      [finalRankings$]="getFinalRanking()"
      (onUndoTournamentEnd)="handleUndoTournamentEnd($event)"
    ></tournament-final-rankings>
  </md-tab>
</md-tab-group>

