@import '../../../styles';

.player-name-table-cell{
  font-size: 1.2em;
  margin-bottom: 6px;
  font-weight: bold;
}

.game-list-vs-divider{
  text-align: center;
  font-size: 2em;
  margin-top: $main_tick;
  margin-bottom: $main_tick;
}

.game-list-head-counter{
  margin: $halve_tick;
  padding: 0;
}

.game-list-item{
  text-align: left;
  margin: $main_tick;
  padding: $main_tick;
}


.game-table-won {
  color: $success_color;
}

.game-table-lost {
  color: $fail_color;
}

.game-list-full-width-td{
 text-align: center;
}

.games-table-row:hover{
  background-color: $color_info;
  cursor: pointer;
}

.centered{
  text-align: center;
}
