<ng-container *ngIf="!games" >
  <div class="heading">Load Games... <mdl-spinner  single-color active></mdl-spinner></div>
</ng-container>

<table class="full-width mdl-data-table mdl-shadow--3dp">
  <thead>
  <tr>
    <th *ngIf="smallScreen" class="centered">Games</th>
    <th *ngIf="!smallScreen" class="centered">Player1</th>
    <th *ngIf="!smallScreen" class="centered">
      <img class="md-secondary" src="../../../assets/my_crown_small.png">
    </th>
    <th *ngIf="!smallScreen" class="centered">Player2</th>
    <th *ngIf="!smallScreen" class="centered">
      <img class="md-secondary" src="../../../assets/my_crown_small.png">
    </th>
  </tr>
  </thead>
  <tbody *ngFor="let game of games | paginate: { itemsPerPage: 10, currentPage: page }; let i = index; let even = even">
  <tr class="games-table-row" (click)="onSelect(game)">
    <td *ngIf="smallScreen" class="game-list-full-width-td">
      <div [ngClass]="{'game-table-won': (playerOneWon(game)),
                    'game-table-lost': (playerTwoWon(game))}"
           class="player-name-table-cell">
        {{game.playerOnePlayerName | truncate:truncateMax}}
      </div>
      <div>{{game.playerOneFaction ? game.playerOneFaction : 'no Faction :('}}</div>
      <div>{{game.playerOneArmyList ? game.playerOneArmyList : 'no ArmyList :('}}</div>
      <div><b>WON:</b> {{game.playerOneScore}} <b>CP:</b> {{game.playerOneControlPoints}} <b>VP:</b> {{game.playerOneVictoryPoints}}</div>
      <div class="game-list-vs-divider">VS</div>
      <div [ngClass]="{'game-table-won': (playerTwoWon(game)),
                    'game-table-lost': (playerOneWon(game))}"
           class="player-name-table-cell">
        {{game.playerTwoPlayerName | truncate:truncateMax}}
      </div>
      <div>{{game.playerTwoFaction ? game.playerTwoFaction : 'no Faction :('}}</div>
      <div>{{game.playerTwoArmyList ? game.playerTwoArmyList : 'no ArmyList :('}}</div>
      <div><b>WON:</b> {{game.playerTwoScore}}  <b>CP:</b> {{game.playerTwoControlPoints}} <b>VP:</b>{{game.playerTwoVictoryPoints}}</div>
    </td>

    <td *ngIf="!smallScreen"
        [ngClass]="{'game-table-won': (playerOneWon(game)),
                    'game-table-lost': (playerTwoWon(game))}"
        class="game-list-item">
      <div class="player-name-table-cell">{{game.playerOnePlayerName | truncate:truncateMax}}</div>
      <div>{{game.playerOneFaction ? game.playerOneFaction : 'no Faction :('}}</div>
      <div>{{game.playerOneArmyList ? game.playerOneArmyList : 'no ArmyList :('}}</div>
      <div><b>WON:</b> {{game.playerOneScore}} <b>CP:</b> {{game.playerOneControlPoints}} <b>VP:</b> {{game.playerOneVictoryPoints}}</div>
    </td>

    <td *ngIf="!smallScreen"[ngClass]="{'game-table-won': (playerOneWon(game)),
                    'game-table-lost': (playerTwoWon(game))}"
        class="centered">{{game.playerOneEloChanging  ? game.playerOneEloChanging : '-'}}
    </td>
    <td *ngIf="!smallScreen"
        [ngClass]="{'game-table-lost': (playerOneWon(game)),
                    'game-table-won': (playerTwoWon(game))}"
        class="game-list-item">
      <div  class="player-name-table-cell">{{game.playerTwoPlayerName | truncate:truncateMax}}</div>
      <div>{{game.playerTwoFaction ? game.playerTwoFaction : 'no Faction :('}}</div>
      <div>{{game.playerTwoArmyList ? game.playerTwoArmyList : 'no ArmyList :('}}</div>
      <div><b>WON:</b> {{game.playerTwoScore}}  <b>CP:</b> {{game.playerTwoControlPoints}} <b>VP:</b>{{game.playerTwoVictoryPoints}}</div>
    </td>
    <td *ngIf="!smallScreen" [ngClass]="{'game-table-lost': (playerOneWon(game)),
                    'game-table-won': (playerTwoWon(game))}"
        class="centered">{{game.playerTwoEloChanging ? game.playerTwoEloChanging : '-'}}
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>



