<h4 class="heading">{{actualTournament?.name}}</h4>
<h4 *ngIf="isAdmin" class="sub-heading">Hello Organizer</h4>
<h4 *ngIf="isCoOrganizer" class="sub-heading">Hello Co-Organizer</h4>
<h4 *ngIf="isTournamentPlayer" class="sub-heading">Hello Player</h4>

<div class="actual-tournament-nav-container">
  <button type="button"
          md-raised-button
          class="color-info-background action-button"
          [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
    Registrations
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item disabled>
      Active -> Registrations
    </button>
    <button *ngIf="isAdmin || isCoOrganizer"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'players']);">
      Go to -> Players
    </button>
    <button *ngFor=" let round of getArrayForNumber(actualTournament?.actualRound) ;let index = index;"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'round', round]);">>
      Go to -> Round {{index +1}}
    </button>
    <button *ngIf="actualTournament?.finished"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'finalRankings']);">>
      Go to -> Final Rankings
    </button>
  </md-menu>
</div>

<h2 class="heading">Registrations ({{(allRegistrations$| async)?.length}})</h2>

<div class="action-card-container">
  <md-card class="action-card action-button-wrapper">
    <button *ngIf="!isRegisteredPlayer && actualTournament?.actualRound === 0"
            type="button"
            (click)="openRegistrationDialog()"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>add</md-icon>
      Register
    </button>
    <button *ngIf="isRegisteredPlayer && !isTournamentPlayer && actualTournament?.actualRound === 0"
            (click)="deleteMyRegistration()"
            type="button"
            class="color-negative-background action-button"
            md-raised-button>
      <md-icon>delete</md-icon>
      I'm out
    </button>
    <button *ngIf="isRegisteredPlayer"
            type="button"
            (click)="openAddArmyListForRegistrationDialog()"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>assignment_returned</md-icon>
      My ArmyList
    </button>
    <button *ngIf="isAdmin || isCoOrganizer"
            (click)="openPrintArmyListDialog()"
            type="button"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>list</md-icon>
      Print Lists
    </button>
    <button *ngIf="(isAdmin || isCoOrganizer) && !actualTournament?.finished"
            (click)="openTournamentFormDialog()"
            type="button"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>build</md-icon>
      Edit
    </button>
  </md-card>
</div>

<ng-container *ngIf="(loadReg$ | async)">
  <div class="heading">Load Registrations...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!(loadReg$ | async)">

  <div *ngIf="allActualRegistrations?.length === 0" class="heading">
    No Registrations found yet
  </div>

  <tournament-registration-list *ngIf="allActualRegistrations?.length > 0"
                                [actualTournament]="actualTournament"
                                [registrations]="allActualRegistrations"
                                [userPlayerData]="userPlayerData"
                                [armyLists]="allArmyLists$ | async"
                                [isAdmin]="isAdmin"
                                [isCoOrganizer]="isCoOrganizer"
                                (onAcceptRegistration)="handleAcceptRegistration($event)"
                                (onChangeRegistration)="handleChangeRegistration($event)"
                                (onDeleteRegistration)="handleDeleteRegistration($event)">
  </tournament-registration-list>
</ng-container>
