<h4 class="heading">{{actualTournament?.name}}</h4>
<h4 *ngIf="isAdmin" class="sub-heading">Hello Organizer</h4>
<h4 *ngIf="isCoOrganizer" class="sub-heading">Hello Co-Organizer</h4>
<h4 *ngIf="isTournamentPlayer" class="sub-heading">Hello Player</h4>

<div class="actual-tournament-nav-container">
  <button type="button"
          md-raised-button
          class="color-primary-background action-button"
          [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
    Registrations
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item disabled>
      Active -> Registrations
    </button>
    <button *ngIf="(isAdmin || isCoOrganizer) && !isTeamTournament"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'players']);">
      Go to -> Players
    </button>
    <button *ngIf="(isAdmin || isCoOrganizer) && isTeamTournament"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'teams']);">
      Go to -> Teams
    </button>
    <button *ngFor=" let round of getArrayForNumber(actualTournament?.actualRound) ;let index = index;"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'round', round]);">
      Go to -> Round {{index +1}}
    </button>
    <button *ngIf="actualTournament?.finished"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'finalRankings']);">>
      Go to -> Final Rankings
    </button>
  </md-menu>
</div>

<h2 class="heading">Registered Players ({{(allRegistrations$| async)?.length}})</h2>

<div class="action-card-container" *ngIf="userPlayerData">
  <md-card class="action-card action-button-wrapper">
    <button *ngIf="!isTeamTournament && !isRegisteredPlayer && actualTournament?.actualRound === 0"
            type="button"
            (click)="openCreatePlayerRegistrationDialog()"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>add</md-icon>
      Register
    </button>
    <button *ngIf="!teamICreated && isTeamTournament && !isRegisteredPlayer && actualTournament?.actualRound === 0"
            type="button"
            (click)="openCreateTeamRegistrationDialog()"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>group_add</md-icon>
      New Team
    </button>
    <button *ngIf="teamICreated && isTeamTournament"
            type="button"
            class="color-positive-background action-button"
            (click)="openShowMyTeamDialog()"
            md-raised-button>
      <md-icon>edit</md-icon>
      Manage my Team
    </button>
    <button *ngIf="isRegisteredPlayer && !isTournamentPlayer && actualTournament?.actualRound === 0"
            (click)="deleteMyRegistration()"
            type="button"
            class="color-negative-background action-button"
            md-raised-button>
      <md-icon>delete</md-icon>
      I'm out
    </button>
    <button *ngIf="isRegisteredPlayer"
            type="button"
            (click)="openAddArmyListForRegistrationDialog(myRegistration)"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>assignment_returned</md-icon>
      My ArmyList
    </button>
    <button *ngIf="isAdmin || isCoOrganizer"
            (click)="openPrintArmyListDialog()"
            type="button"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>list</md-icon>
      Print Lists
    </button>
    <button *ngIf="(isAdmin || isCoOrganizer) && !actualTournament?.finished"
            (click)="openTournamentFormDialog()"
            type="button"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>build</md-icon>
      Edit
    </button>
    <button *ngIf="(isAdmin || isCoOrganizer) && !isTeamTournament"
            (click)="router.navigate(['/tournament', actualTournament?.id, 'players']);"
            class="color-primary-background action-button"
            md-raised-button>
      Show Players
    </button>
    <button *ngIf="(isAdmin || isCoOrganizer) && isTeamTournament"
            (click)="router.navigate(['/tournament', actualTournament?.id, 'teams']);"
            class="color-primary-background action-button"
            md-raised-button>
      Show Teams
    </button>
  </md-card>
</div>

<ng-container *ngIf="!isTeamTournament &&  (loadReg$ | async)">
  <div class="heading">Load Registrations...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!isTeamTournament && !(loadReg$ | async)">

  <div *ngIf="allActualRegistrations?.length === 0" class="heading">
    No Registrations found yet
  </div>

  <tournament-registration-list *ngIf="allActualRegistrations?.length > 0"
                                [actualTournament]="actualTournament"
                                [registrations]="allActualRegistrations"
                                [userPlayerData]="userPlayerData"
                                [armyLists]="allArmyLists$ | async"
                                [isAdmin]="isAdmin"
                                [isCoOrganizer]="isCoOrganizer"
                                (onAcceptRegistration)="handleAcceptRegistration($event)"
                                (onChangeRegistration)="handleChangeRegistration($event)"
                                (onDeleteRegistration)="handleDeleteRegistration($event)">
  </tournament-registration-list>
</ng-container>

<ng-container *ngIf="isTeamTournament && (loadTeamReg$ | async)">
  <div class="heading">Load TeamRegistrations...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>

<ng-container *ngIf="isTeamTournament && !(loadTeamReg$ | async)">

  <div *ngIf="allActualTeamRegistrations?.length === 0" class="heading">
    No TeamRegistrations found yet
  </div>

  <tournament-team-registration-list *ngIf="allActualTeamRegistrations?.length > 0"
                                     [actualTournament]="actualTournament"
                                     [teamRegistrations]="allActualTeamRegistrations"
                                     [allActualRegistrations]="allActualRegistrations"
                                     [userPlayerData]="userPlayerData"
                                     [isAdmin]="isAdmin"
                                     [isCoOrganizer]="isCoOrganizer"
                                     [armyLists]="allArmyLists$ | async"
                                     [myTeam]="myTeam"
                                     (onAddArmyList)="openAddArmyListForRegistrationDialog($event)"
                                     (onAcceptTeamRegistration)="handleAcceptTeamRegistration($event)">
  </tournament-team-registration-list>
</ng-container>
