<h4 *ngIf="!fullscreenMode" class="heading">{{actualTournament?.name}}</h4>
<h4 *ngIf="!fullscreenMode && isAdmin" class="sub-heading">Hello Organizer</h4>
<h4 *ngIf="!fullscreenMode && isCoOrganizer" class="sub-heading">Hello Co-Organizer</h4>
<h4 *ngIf="!fullscreenMode && isTournamentPlayer" class="sub-heading">Hello Player</h4>

<div class="actual-tournament-nav-container">
  <button *ngIf="!fullscreenMode"
          type="button"
          md-raised-button
          class="color-info-background action-button"
          [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
    Registrations
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item disabled>
      Active -> Registrations
    </button>
    <button *ngIf="isAdmin || isCoOrganizer"
            md-menu-item
          (click)="router.navigate(['/tournament', actualTournament?.id, 'players']);">
      Go to -> Players
    </button>
    <button *ngFor=" let round of getArrayForNumber(actualTournament?.actualRound) ;let index = index;"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'round', round]);">>
      Go to -> Round {{index +1}}
    </button>

    <button *ngIf="actualTournament?.finished" md-menu-item>
      Go to -> Final Rankings
    </button>
  </md-menu>
</div>


<h2 class="heading">Registrations ({{(allRegistrations$| async)?.length}})</h2>

<ng-container *ngIf="(loadReg$ | async)">
  <div class="heading">Load Registrations...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>


<div class="action-card-container">
  <md-card class="action-card action-button-wrapper">
    <button *ngIf="!isRegisteredPlayer"
            type="button"
            (click)="openRegistrationDialog()"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>add</md-icon>
      Register
    </button>
    <button *ngIf="isRegisteredPlayer && !isTournamentPlayer"
            (click)="deleteMyRegistration()"
            type="button"
            class="color-negative-background action-button"
            md-raised-button>
      <md-icon>delete</md-icon>
      I'm out
    </button>
    <button *ngIf="isRegisteredPlayer"
            type="button"
            (click)="openAddArmyListForRegistrationDialog()"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>assignment_returned</md-icon>
      ArmyList
    </button>
    <button *ngIf="isAdmin || isCoOrganizer"
            (click)="openPrintArmyListDialog()"
            type="button"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>list</md-icon>
      Print Lists
    </button>
    <button *ngIf="isAdmin || isCoOrganizer"
            (click)="openTournamentFormDialog()"
            type="button"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>build</md-icon>
      Edit
    </button>
  </md-card>
</div>

<tournament-registration-list *ngIf="allActualRegistrations?.length > 0"
                              [actualTournament]="actualTournament"
                              [registrations]="allActualRegistrations"
                              [userPlayerData]="userPlayerData"
                              [armyLists]="allArmyLists$ | async"
                              [isAdmin]="isAdmin"
                              [isCoOrganizer]="isCoOrganizer"
                              (onAcceptRegistration)="handleAcceptRegistration($event)">
</tournament-registration-list>
