<mdl-list-item lines="3"
               class="list-item"
               *ngFor="let team of actualTournamentTeamRegistrations$ | async; let i = index; let even = even;"
               (click)="showTeamDialog(team)"
               [ngClass]="{'even': even, 'my-item':isItMyTeam(team)}">

  <mdl-list-item-primary-content>
    <mdl-icon mdl-list-item-avatar mdl-badge="{{getPlayersForTeam(team.teamName)}}" mdl-badge-overlap>group</mdl-icon>
    <span class ="player-name">{{team.teamName  | truncate:truncateMax}}</span>
    <mdl-list-item-text-body>
      <div>{{team.country}}</div>
      <div>{{team.meta}}</div>
    </mdl-list-item-text-body>
  </mdl-list-item-primary-content>
  <mdl-list-item-secondary-content *ngIf="checkTournamentFull(team)" >
    <div class="align-fix color-positive team-capacity">Team Full</div>
  </mdl-list-item-secondary-content>
  <mdl-list-item-secondary-content *ngIf="!checkTournamentFull(team) && actualTournament?.actualRound === 0">
    <button *ngIf="!myRegistration && userPlayerData"
            (click)="joinTeam($event, team)"
            type="button"
            class="color-positive-background"
            md-raised-button>
      <md-icon>add</md-icon>
      Join Team
    </button>
  </mdl-list-item-secondary-content>

  <mdl-list-item-secondary-content *ngIf="!smallScreen && !team.armyListsChecked && !team.playerUploadedArmyLists">
    <md-icon  md-tooltip="No ArmyList uploaded yet" class="color-negative list-icon">assignment_late</md-icon>
  </mdl-list-item-secondary-content>
  <mdl-list-item-secondary-content *ngIf="!smallScreen && team.playerUploadedArmyLists">
    <md-icon  md-tooltip="ArmyLists uploaded" class="color-secondary list-icon">assignment_returned</md-icon>
  </mdl-list-item-secondary-content>
  <mdl-list-item-secondary-content *ngIf="!smallScreen && team.armyListsChecked">
    <md-icon  md-tooltip="ArmyLists checked" class="color-positive list-icon">assignment_turned_in</md-icon>
  </mdl-list-item-secondary-content>

  <mdl-list-item-secondary-content *ngIf="!smallScreen && !team.paymentChecked">
    <md-icon  md-tooltip="Player has not paid yet" class="color-negative list-icon">money_off</md-icon>
  </mdl-list-item-secondary-content>
  <mdl-list-item-secondary-content *ngIf="!smallScreen && team.paymentChecked">
    <md-icon md-tooltip="Player has paid" class="color-positive list-icon">attach_money</md-icon>
  </mdl-list-item-secondary-content>

  <mdl-list-item-secondary-content
    *ngIf="isItMyTeam(team) && actualTournament?.actualRound === 0">
    <md-icon class="color-positive list-action" (click)="addTeamArmyLists($event, myRegistration)">playlist_add</md-icon>
  </mdl-list-item-secondary-content>
  <mdl-list-item-secondary-content *ngIf="isAdmin() && !team.isAcceptedTournamentTeam  && actualTournament.actualRound === 0">
    <md-icon class="color-positive list-action" (click)="acceptTeamRegistration($event, team)">check_circle</md-icon>
  </mdl-list-item-secondary-content>
</mdl-list-item>

