<h1 class="heading">Tournaments ({{(allTournaments$| async) ?.length}})</h1>

<div class="flex-container">
  <md-card class="single-list-card">
    <md-input-container>
      <input mdInput
             placeholder="Search for name/location"
             maxlength="50"
             #searchInput
             (keyup)="search(searchInput.value)">
    </md-input-container>
    <md-select
      placeholder="Filter"
      #filter
      (change)="changeFilter()"
      [(ngModel)]="selectedFilterState"
      name="filter">
      <md-option value="Upcoming">Upcoming</md-option>
      <md-option value="Finished">Finished</md-option>
    </md-select>
    <h4 *ngIf="filteredOrderedGroupedTournaments?.length == 0">No Tournaments found</h4>
    <mdl-list  *ngFor="let groupedTournaments of filteredOrderedGroupedTournaments">
      <h4 *ngIf="groupedTournaments?.tournaments?.length !== 0" md-subheader>{{groupedTournaments.monthYear}} ({{groupedTournaments.tournaments.length}})</h4>
      <tournament-list [tournaments]="groupedTournaments.tournaments"></tournament-list>
      <md-divider></md-divider>
    </mdl-list>
  </md-card>
</div>
