<h4 *ngIf="!fullscreenMode" class="heading">{{actualTournament?.name}}</h4>
<h4 *ngIf="!fullscreenMode && isAdmin" class="sub-heading">Hello Organizer</h4>
<h4 *ngIf="!fullscreenMode && isCoOrganizer" class="sub-heading">Hello Co-Organizer</h4>
<h4 *ngIf="!fullscreenMode && isTournamentPlayer" class="sub-heading">Hello Player</h4>

<h2 class="heading">Registrations ({{(allRegistrations$| async)?.length}})</h2>

<ng-container *ngIf="(allRegistrations$ | async)?.length == 0">
  <div class="heading">Load Registrations...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>

<div class="action-card-container">
  <md-card class="action-card">
    <button *ngIf="!isRegisteredPlayer"
            type="button"
            (click)="openCreatePlayerRegistrationDialog()"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>add</md-icon>
      Register
    </button>
    <button *ngIf="isRegisteredPlayer && !isTournamentPlayer"
            (click)="deleteMyRegistration()"
            type="button"
            class="color-negative-background action-button"
            md-raised-button>
      <md-icon>delete</md-icon>
      I'm out
    </button>
    <button type="button"
            (click)="openCreatePlayerRegistrationDialog()"
            class="color-positive-background action-button"
            md-raised-button>
      <md-icon>add</md-icon>
      ArmyList
    </button>
  </md-card>
</div>
<tournament-registration-list *ngIf="(allRegistrations$ | async)?.length > 0"
                              [registrations]="(allRegistrations$ | async)"
                              [userPlayerData]="userPlayerData">
</tournament-registration-list>
