<md-card class="about-container">

  <h3>Information Collection and Use</h3>
  <p>
    For a better experience while using our Service, OpenTournament may require you to
    provide us with certain personally identifiable information, including
    but not limited to your name, phone number, and postal address.
    The information that OpenTournament collect will be used to contact or identify you.
    OpenTournament will not give any Data to third-party services.
  </p>

</md-card>
<md-card>
  <h3>Disclaimer</h3>
  <p>
    OpenTournament is not responsible for, and expressly disclaims all liability for,
    damages of any kind arising out of use, reference to, or reliance on any information
    contained within the site. While the information contained within the site is periodically
    updated, no guarantee is given that the information provided in this Web site is correct,
    complete, and up-to-date.
  </p>
  <p>
    Although the OpenTournament Web site may include links providing direct access to other
    Internet resources, including Web sites, OpenTournament is not responsible for the accuracy
    or content of information contained in these sites.
  </p>
  <p>
    Links from OpenTournament to third-party sites do not constitute an endorsement by
    OpenTournament of the parties or their products and services. The appearance on the
    Web site of advertisements and product or service information does not constitute
    an endorsement by OpenTournament, and OpenTournament has not investigated the
    claims made by any advertiser. Product information is based solely on material
    received from suppliers.
  </p>

</md-card>

<md-card>
  <h3>Contact</h3>
  <p>Tobias Matt</p>
  <p>76185 Karlsruhe</p>
  <p>Gellertstr 36</p>

  <a href='mailto:warmachinekarlsruhe@gmail.com'>Contact me</a>
</md-card>
