<ng-container *ngIf="orderedTeamRankings.length === 0" >
  <div class="heading">Load Rankings... <mdl-spinner  single-color active></mdl-spinner></div>
</ng-container>
<table class="full-width mdl-data-table mdl-js-data-table mdl-shadow--3dp">
  <thead>
  <tr>
    <th class="small-three-space-table-cell rank-number">#</th>
    <th *ngIf="!smallScreen" class="small-three-space-table-cell">Lists</th>
    <th class="mdl-data-table__cell--non-numeric">Team</th>
    <th class="small-three-space-table-cell">Score</th>
    <th class="small-three-space-table-cell">SGW</th>
    <th class="small-three-space-table-cell">CP</th>
    <th class="small-three-space-table-cell">VP</th>
    <th *ngIf="isAdmin && !actualTournament.finished && actualTournament.actualRound === round" class="small-three-space-table-cell">Drop</th>
  </tr>
  </thead>
  <tbody *ngFor="let rank of orderedTeamRankings; let i = index; let even = even"
         [ngClass]="{'even': even} ">
  <tr (click)="showTeam(rank)" class="team-table-row">
    <td class="small-three-space-table-cell rank-table-cell rank-number">{{i +1}}</td>
    <td  *ngIf="!smallScreen" class="small-three-space-table-cell rank-table-cell">
      <md-icon class="list-action"
               (click)="showTeamArmyList($event, rank)">
        list</md-icon>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      <div class="player-name-table-cell">{{rank.playerName | truncate:truncateMax}}</div>
      <div mdTooltip="Locality - Country" class="other-player-data-table-cell">{{rank.meta}} - {{rank.country}}</div>
      <div>{{rank.country}}</div>
      </td>
    <td class="small-three-space-table-cell">{{rank.score}}</td>
    <td class="small-three-space-table-cell">{{rank.secondScore}}</td>
    <td class="small-three-space-table-cell">{{rank.controlPoints}}</td>
    <td class="small-three-space-table-cell">{{rank.victoryPoints}}</td>
    <td *ngIf="isAdmin && deleteRequest !== rank.id && !actualTournament.finished" class="small-three-space-table-cell">
      <md-icon *ngIf="isDroppable(rank)" class="drop-player-action"
               (click)="dropRequest($event, rank)">
        delete</md-icon>
      <md-icon *ngIf="isUndoDroppable(rank) && !actualTournament.finished" class="undo-drop-player-action"
               (click)="undoDropPlayer($event, rank)">
        undo</md-icon>
    </td>
    <td *ngIf="isAdmin && deleteRequest === rank.id" class="small-three-space-table-cell">

      <button (click)="dropConfirm($event, rank)"
              class="drop-confirm-button color-negative-background"
              type="button"
              md-raised-button>
        <md-icon >delete</md-icon>
        Drop!
      </button>
      <button (click)="dropDeclined($event)"
              class="drop-decline-button color-positive-background"
              type="button"
              md-raised-button>
        <md-icon >not_interested</md-icon>
        No
      </button>
    </td>
  </tr>
  </tbody>
</table>

