
<div *ngIf="(currentUserId === actualTournament?.creatorUid)  &&
            (round === actualTournament.actualRound) &&
             !actualTournament.finished"
     class="action-card-container">
  <md-card class="action-card" >
    <button *ngIf="allGamesUntouched"
            (click)="openPairAgainDialog()"
            type="button"
            color="accent"
            md-raised-button>
      <md-icon>undo</md-icon>
      Pair Again
    </button>
    <button *ngIf="allGamesFinished"
            (click)="openNewRoundDialog()"
            type="button"
            class="positive-background"
            md-raised-button>
      <md-icon>play_arrow</md-icon>
      New Round
    </button>
    <button *ngIf="allGamesFinished"
            (click)="openFinishTournamentDialog()"
            type="button"
            class="positive-background"
            md-raised-button>
      <md-icon>flag</md-icon>
      End Tournament
    </button>
    <button (click)="publishRound()"
            type="button"
            class="positive-background"
            md-raised-button>
      <md-icon>cloud_upload</md-icon>
      Publish Round
    </button>
    <button (click)="openKillRoundDialog()"
            type="button"
            class="negative-background"
            md-raised-button>
      <md-icon>warning</md-icon>
      Kill Round
    </button>
  </md-card>
</div>
<div class="content-cards-container">
  <md-card >
    <h3 class="heading">Games for round {{round}}</h3>

    <mdl-textfield type="text"
                   maxlength="50"
                   placeholder="Filter by PlayerName"
                   #seachInput
                   (keyup)="search(seachInput.value)" >
    </mdl-textfield>
    <h4 *ngIf="allGamesFiltered?.length == 0" class="warning-text">No Games found (Filter?)</h4>
    <tournament-game-list
      [actualTournament]="actualTournament"
      [authenticationStoreState$]="authenticationStoreState$"
      [actualTournamentArmyLists$]="actualTournamentArmyLists$"
      [gamesForRound]="allGamesFiltered"
      [rankingsForRound$]="rankingsForRound$"
      (onGameResult)="handleGameResult($event)"
      (onSwapPlayer)="handleSwapPlayer($event)"
    ></tournament-game-list>
  </md-card>
  <md-card >
    <h3 class="heading">Ranking for round {{round}}</h3>
    <tournament-ranking-table
      [actualTournamentArmyList$]="armyLists$"
      [rankingsForRound$]="rankingsForRound$"
      [userPlayerData]="userPlayerData"
    ></tournament-ranking-table>
  </md-card>
</div>
