<h3 class="heading" *ngIf="(currentUserId != actualTournament?.creatorUid) &&
            (actualTournament.actualRound > actualTournament.visibleRound) &&
            (round === actualTournament.actualRound)">
  Tournament Organizer is pairing.
  Page will reload when he publish the new round.
</h3>

<div *ngIf="(currentUserId === actualTournament?.creatorUid)  &&
            (round === actualTournament.actualRound) &&
             !actualTournament.finished && !rankingsFullscreenMode && !gamesFullscreenMode && !swapPlayerMode"
     class="action-card-container">
  <md-card class="action-card">
    <div class="action-button-wrapper">
      <button *ngIf="allGamesUntouched"
              (click)="openPairAgainDialog()"
              type="button"
              class="positive-background action-button"
              md-raised-button>
        <md-icon>undo</md-icon>
        Pair Again
      </button>
      <button *ngIf="allGamesFinished"
              (click)="openNewRoundDialog()"
              type="button"
              class="positive-background action-button"
              md-raised-button>
        <md-icon>play_arrow</md-icon>
        New Round
      </button>

      <button *ngIf="allGamesFinished"
              (click)="openFinishTournamentDialog()"
              type="button"
              class="positive-background action-button"
              md-raised-button>
        <md-icon>flag</md-icon>
        End Tournament
      </button>

      <button *ngIf="actualTournament.visibleRound < actualTournament.actualRound"
              (click)="publishRound()"
              type="button"
              class="positive-background action-button"
              md-raised-button>
        <md-icon>cloud_upload</md-icon>
        Publish Round
      </button>

      <button (click)="openKillRoundDialog()"
              type="button"
              class="negative-background action-button"
              md-raised-button>
        <md-icon>warning</md-icon>
        Kill Round
      </button>
    </div>
  </md-card>
</div>
<div class="content-cards-container" *ngIf="(currentUserId == actualTournament?.creatorUid) ||
            ((currentUserId != actualTournament?.creatorUid) &&
            (round <= actualTournament.visibleRound))">
  <md-card *ngIf="!rankingsFullscreenMode" class="games-for-round-card">
    <h3 class="heading">Games Round {{round}}</h3>
    <mdl-icon (click)="printGames()" mdTooltip="Print Games" class="print-games-icon">print</mdl-icon>
    <mdl-icon *ngIf="!gamesFullscreenMode" (click)="openGamesFullScreenMode(true)" mdTooltip="Fullscreen Mode"
              class="fullscreen-mode">fullscreen
    </mdl-icon>
    <mdl-icon *ngIf="gamesFullscreenMode" (click)="openGamesFullScreenMode(false)" mdTooltip="Exit Fullscreen Mode"
              class="fullscreen-mode">fullscreen_exit
    </mdl-icon>
    <mdl-icon *ngIf="!gamesTableMode" (click)="changeToTableMode(true)" mdTooltip="Table Mode" class="table-mode">list
    </mdl-icon>
    <mdl-icon *ngIf="gamesTableMode" (click)="changeToTableMode(false)" mdTooltip="Exit Table Mode" class="table-mode">
      view_list
    </mdl-icon>
    <mdl-textfield *ngIf="!gamesFullscreenMode"
                   type="text"
                   maxlength="50"
                   placeholder="Filter by PlayerName/TableNumber"
                   #seachInput
                   (keyup)="search(seachInput.value)">
    </mdl-textfield>
    <h4 *ngIf="allGamesFiltered?.length == 0" class="warning-text">No Games found (Filter?)</h4>
    <tournament-game-list *ngIf="!gamesTableMode"
                          [teamMatch]="false"
                          [actualTournament]="actualTournament"
                          [authenticationStoreState$]="authenticationStoreState$"
                          [actualTournamentArmyLists$]="actualTournamentArmyLists$"
                          [gamesForRound]="allGamesFiltered"
                          [rankingsForRound$]="rankingsForRound$"
                          (onGameResult)="handleGameResult($event)"
                          (onSwapPlayer)="handleSwapPlayer($event)"
                          (onScenarioSelected)="handleScenarioSelected($event)"
    ></tournament-game-list>

    <tournament-game-table *ngIf="gamesTableMode"
                           [games]="allGamesFiltered"
    ></tournament-game-table>
  </md-card>
  <md-card *ngIf="!gamesFullscreenMode" class="tournament-ranking-table-card">
    <h3 class="heading">Rankings Round {{round}}</h3>
    <mdl-icon (click)="printRankings()" mdTooltip="Print Rankings" class="print-rankings-icon">print</mdl-icon>
    <mdl-icon *ngIf="!rankingsFullscreenMode" (click)="openRankingsFullScreenMode(true)" mdTooltip="Fullscreen Mode"
              class="fullscreen-mode">fullscreen
    </mdl-icon>
    <mdl-icon *ngIf="rankingsFullscreenMode" (click)="openRankingsFullScreenMode(false)"
              mdTooltip="Exit Fullscreen Mode" class="fullscreen-mode">fullscreen_exit
    </mdl-icon>
    <tournament-ranking-table
      [actualTournamentArmyList$]="armyLists$"
      [rankingsForRound$]="rankingsForRound$"
      [userPlayerData]="userPlayerData"
    ></tournament-ranking-table>
  </md-card>
</div>
