
.fullscreen-mode{
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
}

.fullscreen-mode:hover{
  color: blue;
  cursor: pointer;
}

.print-rankings-icon{
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 50px;
}

.print-rankings-icon:hover{
  color: blue;
  cursor: pointer;
}


.table-mode{
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 50px;
}

.table-mode:hover{
  color: blue;
  cursor: pointer;
}

.print-games-icon{
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 90px;
}

.print-games-icon:hover{
  color: blue;
  cursor: pointer;
}


.games-for-round-card{
  width: 300px;
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
}

@media only screen and (min-width: 500px) {
  .games-for-round-card{
    width: 400px;
    align-items: center;
  }
}

@media only screen and (min-width: 800px) {
  .games-for-round-card{
    width: 600px;
    align-items: center;
  }
}

.tournament-ranking-table-card{
  width: 300px;
}

@media only screen and (min-width: 500px) {
  .tournament-ranking-table-card{
    width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .tournament-ranking-table-card{
    width: 600px;
    align-items: center;
  }
}
