<md-list-item class="list-item"
              *ngFor="let tournament of tournaments; let even = even;"
              [ngClass]="{'even': even}"
              (click)="onSelect(tournament)">

  <md-icon mdTooltip="Solo Tournament"
           *ngIf="tournament.teamSize <= 0"
           md-list-avatar>
    person_outline
  </md-icon>
  <md-icon mdTooltip="Team Tournament!"
           *ngIf="tournament.teamSize > 0"
           md-list-avatar>
    group_outline
  </md-icon>
  <span md-line>{{tournament.name | truncate:truncateMax}}</span>

  <div md-line *ngIf="(tournament.beginDate | date:'MM/d/yy') === (tournament.endDate | date:'MM/d/yy')">
    {{tournament.beginDate | date:'EEE, d'}}
    <ng-container *ngIf="!verySmallDevice">
      / {{tournament.beginDate | date:'HH:mm'}}-{{tournament.endDate | date:'HH:mm'}}
    </ng-container>
  </div>
  <div md-line *ngIf="(tournament.beginDate | date:'MM/d/yy') !== (tournament.endDate | date:'MM/d/yy')">
    {{tournament.beginDate | date:'EEE, d'}} - {{tournament.endDate | date:'EEE, d'}}
    <ng-container *ngIf="!verySmallDevice">
      / {{tournament.beginDate | date:'HH:mm'}}-{{tournament.endDate | date:'HH:mm'}}
    </ng-container>
  </div>
  <div md-line>{{tournament.location | truncate:truncateMax}}</div>
  <div *ngIf="!verySmallDevice" class="participants-info">
    {{tournament.actualParticipants}}/{{tournament.maxParticipants}}
  </div>
  <md-icon class="tournament-info-icon list-action"
           mdTooltip="Tournament info"
           (click)="openInfoDialog($event, tournament)">
    info
  </md-icon>
</md-list-item>
