<div id="top"></div>
<button
  (click)="startAutoScroll()"
  type="button"
  class="color-secondary-background"
  md-raised-button>
  <md-icon>play_arrow</md-icon>
  AutoScroll
</button>
<div class="ranking-table-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource" mdSort>

    <ng-container cdkColumnDef="playerName">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="player-column">
        Player
      </md-header-cell>
      <md-cell *cdkCellDef="let ranking" class="player-column">
        {{ranking.playerName}}
      </md-cell>
    </ng-container>


    <ng-container cdkColumnDef="score">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="score-column">
        Score
      </md-header-cell>
      <md-cell *cdkCellDef="let ranking" class="score-column">
        {{ranking.score}}
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="sos">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="sos-column">
        SoS
      </md-header-cell>
      <md-cell *cdkCellDef="let ranking" class="sos-column">
        {{ranking.sos}}
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="cp">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="cp-column">
        CP
      </md-header-cell>
      <md-cell *cdkCellDef="let ranking" class="sos-column">
        {{ranking.controlPoints}}
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="vp">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="vp-column">
        VP
      </md-header-cell>
      <md-cell *cdkCellDef="let ranking" class="vp-column">
        {{ranking.victoryPoints}}
      </md-cell>
    </ng-container>


    <ng-container>
      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let ranking; columns: displayedColumns;"
              [ngClass]="{'even': even}">
      </md-row>
    </ng-container>
  </md-table>
  <md-paginator #paginator
                [length]="rankingsDb?.data.length"
                [pageIndex]="0"
                [pageSize]="100"
                [pageSizeOptions]="[10, 25, 50, 100]">
  </md-paginator>
</div>
<div id="bottom"></div>
