<div *ngIf="registration" class="heading">ArmyLists for {{registration.playerName}}</div>
<div *ngIf="tournamentPlayer" class="heading">ArmyLists for {{tournamentPlayer.playerName}}</div>
<md-dialog-content>
  <md-card>
    <p *ngIf="armyLists.length > 6" style="color: red">Maximum reached for ArmyLists</p>
    <md-tab-group [selectedIndex]="selectedTab">
      <md-tab *ngIf="armyLists.length <= 6" label="NewList">
        <form #armyListForm="ngForm">
          <md-select class="full-width"
                     required
                     [(ngModel)]="armyListModel.name"
                     name="name"
                     placeholder="Caster"
                     #armyListName>
            <md-option *ngFor="let name of listOfCasterFaction" [value]="name">{{ name }}</md-option>
          </md-select>
          <md-input-container
            class="full-width max-height">
        <textarea
          mdInput
          placeholder="Army List - (paste ArmyList here (use Warroom/Troopcreator/ConflictChamber or something)"
          class="max-height"
          maxlength="1000"
          required
          #armyList
          [(ngModel)]="armyListModel.list"
          name="list"></textarea>
            <md-hint align="end">{{armyList.value.length}} / 1000</md-hint>
          </md-input-container>
          <button class="save-button color-positive-background"
                  type="button"
                  md-raised-button
                  (click)="addArmyList()"
                  [disabled]="armyListForm.invalid">
            <md-icon>add</md-icon>
            Save ArmyList
          </button>
        </form>
      </md-tab>
      <md-tab *ngFor="let armyList of armyLists" label="{{armyList.name}}">
        <md-input-container
          class="full-width">
      <textarea
        mdInput
        class="fix-height"
        disabled
      >{{armyList.list}}</textarea>
        </md-input-container>
        <button class="save-button color-negative-background"
                type="button"
                md-raised-button
                (click)="deleteArmyList(armyList)">
          <md-icon>remove</md-icon>
          Delete ArmyList
        </button>
      </md-tab>
    </md-tab-group>
  </md-card>
</md-dialog-content>
<div md-dialog-actions>
  <button type="button" color="primary" md-raised-button (click)="dialogRef.close()">Close Dialog</button>
</div>
