@import '../../styles';


.game-result-table {
  width: 100%;
  border-spacing: 0;
}

.game-result-table th {

  text-align: center;
  border: 1px solid black;
}

.game-result-table td {

  border: 1px solid black;

  text-align:center;
  vertical-align:middle;
}

.game-result-button {
  min-width:36px;
  max-width:36px;
  font-size:48px;
  margin-top: $main_tick;
}

.add-button{
  color: $success_color;
}

.remove-button {
  color: $fail_color;
}

.game-result-input {
  height: 20px;
  width: 40px;
  margin-left: $main_tick;
  font-size: 24px;
  padding-bottom: $main_tick;
}

@media only screen and (min-width: 800px) {
  .game-result-input {
    width: 60px;
  }
}

.mat-input-wrapper{
  padding-bottom: 0 !important;
}
