@import '../../styles';


.game-result-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.game-result-table th {
  text-align: center;
  border: 1px solid black;
}

.game-result-table td {

  border: 1px solid black;

  text-align:center;
  vertical-align:middle;
}

.game-result-button {
  min-width:36px;
  max-width:36px;
  padding: $halve_tick;
}

@media only screen and (min-width: 800px) {
  .game-result-button {
    min-width:48px;
    max-width:48px;
  }
}

.add-button{
  background-color: $success_color;
}

.remove-button {
  background-color: $fail_color;
}

.game-result-input {
  height: 20px;
  width: 35px;
  font-size: 18px;
  padding-bottom: $main_tick;
}

@media only screen and (min-width: 800px) {
  .game-result-input {
    width: 60px;
    font-size: 24px;
  }
}
