<h3 md-dialog-title class="heading">Import Data</h3>

<md-dialog-content>

  <ng-container *ngIf="importingData">
    <div class="heading">Import Data. Please be patient...</div>
    <div class="loading-spinner-container">
      <md-spinner></md-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="error && !importingData">
    <h3 class="heading color-negative">You can't import that file.</h3>
  </ng-container>
  <ng-container *ngIf="!error && !importingData">
  <li>
    <ul>
      TournamentRound: {{tournament?.actualRound}}
    </ul>
    <ul>
      PlayerGames: {{playerGames?.length}}
    </ul>
    <ul>
      PlayerRankings: {{playerRankings?.length}}
    </ul>
    <ul>
      TeamGames: {{teamGames?.length}}
    </ul>
    <ul>
      TeamRankings: {{teamRankings?.length}}
    </ul>
  </li>

  <h3 class="heading color-negative">IMPORT will kill all other data and my take some time.</h3>
  </ng-container>
</md-dialog-content>
<div md-dialog-actions>
  <div class="full-width">
  <button type="button" class="big-button" color="primary" md-raised-button (click)="dialogRef.close()">
    Close Dialog
  </button>
  <button *ngIf="!error" type="button" class="right-align-button big-button color-negative-background"
          md-raised-button (click)="importData()">
    Really Import?
  </button>
  </div>
</div>
