<h3 md-dialog-title class="heading">Games for Round {{round}}</h3>

<md-dialog-content>


  <div #printarea class="print-area">
    <h3>Scenario: {{scenario}}</h3>
    <table style="width:100%; border: 1px solid black;border-collapse: collapse;">
      <thead>
      <tr>
        <th style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">Table</th>
        <th *ngIf="!teamMatch" style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">PlayerOne</th>
        <th *ngIf="teamMatch" style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">TeamOne</th>
        <th *ngIf="!teamMatch" style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">PlayerTwo</th>
        <th *ngIf="teamMatch" style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">TeamTwo</th>
      </tr>
      </thead>
      <tbody *ngFor="let game of games$ | async; let i = index;">
      <tr>
        <td style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">{{game.playingField}}</td>
        <td style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">
          <div>{{game.playerOnePlayerName}}</div>
          <div>{{game.playerOneFaction}}</div>
          <div *ngIf="game.playerOneElo != 0">{{game.playerOneElo}}</div>
        </td>

        <td style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">
          <div>{{game.playerTwoPlayerName}}</div>
          <div>{{game.playerTwoFaction}}</div>
          <div *ngIf="game.playerTwoElo != 0">{{game.playerTwoElo}}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</md-dialog-content>
<div md-dialog-actions>
  <div class="full-width">
    <button type="button" class="big-button" color="primary" md-raised-button (click)="dialogRef.close()">
      Close Dialog
    </button>
    <button type="button" class="right-align-button big-button" color="accent" md-raised-button (click)="printLists()">
      Print
    </button>
  </div>
</div>
