<h3 md-dialog-title class="heading">Rankings for Round</h3>

<md-dialog-content>

  <button type="button" class="full-width-button save-button" color="accent" md-raised-button (click)="printLists()">
    Print
  </button>
  <div #printarea class="print-area">
    <h3>Scenario: {{scenario}}</h3>
    <table style="width:100%; border: 1px solid black;border-collapse: collapse;">
      <thead>
      <tr>
        <th style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">Table</th>
        <th style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">PlayerOne</th>
        <th style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">PlayerTwo</th>
      </tr>
      </thead>
      <tbody *ngFor="let game of games$ | async; let i = index;">
      <tr>
        <td style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">{{game.playingField}}</td>
        <td style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">
          <div>{{game.playerOnePlayerName}}</div>
          <div>{{game.playerOneFaction}}</div>
          <div *ngIf="game.playerOneElo != 0">{{game.playerOneElo}}</div>
        </td>

        <td style="padding: 10px; text-align: left;border: 1px solid black;border-collapse: collapse;">
          <div>{{game.playerTwoPlayerName}}</div>
          <div>{{game.playerTwoFaction}}</div>
          <div *ngIf="game.playerTwoElo != 0">{{game.playerTwoElo}}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</md-dialog-content>
<div md-dialog-actions>
  <button type="button" color="primary" md-raised-button (click)="dialogRef.close()">Close Dialog</button>
</div>
