<h3 md-dialog-title class="heading">All Army Lists</h3>

<md-dialog-content>

 <div #printarea class="print-area">
    <div *ngFor="let armyList of armyLists$ | async">
      <h3 *ngIf="armyList.teamName">{{armyList.teamName}} - {{armyList.playerName}} - {{armyList.name}}</h3>
      <h3 *ngIf="!armyList.teamName">{{armyList.playerName}} - {{armyList.name}}</h3>
      <div style=" white-space: pre-wrap;">{{armyList.list}}</div>
    </div>
  </div>
</md-dialog-content>
<div md-dialog-actions>
  <div class="full-width">
  <button type="button" class="big-button" color="primary" md-raised-button (click)="dialogRef.close()">
    Close Dialog
  </button>
  <button type="button" class="right-align-button big-button" color="accent" md-raised-button (click)="printLists()">
    Print
  </button>
  </div>
</div>
