<h3 class="heading">Team {{team.teamName}}</h3>
<h6 *ngIf="allTournamentPlayerForTeam.length === 0">
  No Player found for Team
</h6>
<md-dialog-content>
  <md-input-container class="full-width ">
    <input mdInput
           placeholder="TeamLeader"
           readonly
           disabled
           value="{{team.leaderName}}">
  </md-input-container>

  <md-input-container
    class="full-width">
    <input mdInput
           (blur)="checkTeamName()"
           placeholder="Team Name"
           [formControl]="teamNameFormControl"
           maxlength="50"
           required>
    <md-hint *ngIf="teamNameAlreadyInUse" align="start" class="color-negative">
      There is already a Team with that name
    </md-hint>
    <md-hint align="end">{{teamNameFormControl.value.length}} / 50</md-hint>
  </md-input-container>
  <md-input-container
    class="full-width">
    <input mdInput
           placeholder="Locality"
           maxlength="50"
           [formControl]="metaFormControl">
    <md-hint align="end">{{metaFormControl.value.length}} / 50</md-hint>
  </md-input-container>

  <md-list>
    <md-list-item
      [ngClass]="{'even': even, 'my-item':isItMe(player.playerId)}"
      *ngFor="let player of allTournamentPlayerForTeam; let i = index; let even = even;">
      <md-icon mdListIcon>person</md-icon>
      <h3 mdLine>{{player.playerName | truncate:truncateMax}} </h3>
      <p mdLine>{{player.faction}}</p>
      <p mdLine>
        <img *ngIf="player.elo" src="../../assets/my_crown_small.png"/>
        {{player.elo}}
      </p>
      <button md-icon-button *ngIf="isAdmin || isCoOrganizer">
        <md-icon class="color-positive list-action" (click)="addArmyLists(player)">
          playlist_add
        </md-icon>
      </button>
      <button md-icon-button *ngIf="(isAdmin || isCoOrganizer) && !player.registrationId">
        <md-icon class="color-negative list-action" (click)="kickPlayer(player)">
          delete
        </md-icon>
      </button>
    </md-list-item>
  </md-list>
</md-dialog-content>

<div md-dialog-actions>
  <div class="full-width">
    <button type="button" color="primary" md-raised-button (click)="dialogRef.close()">Close Dialog</button>
    <button *ngIf="!teamNameAlreadyInUse && !byeNotAllowed"
            class="right-align-button"
            md-raised-button
            color="accent"
            (click)="saveTeam()">
      <md-icon>add</md-icon>
      Update Team
    </button>
  </div>
</div>
