<h3 class="heading">Team {{team.teamName}}</h3>


<button *ngIf="isCreator"
        type="button"
        class="color-negative-background action-button"
        (click)="deleteTeam()"
        md-raised-button>
  <md-icon>delete</md-icon>
  Delete your Team
</button>

<md-input-container class="full-width ">
  <input mdInput
         placeholder="TeamLeader"
         readonly
         disabled
         value=" {{team.leaderName}}">
</md-input-container>

<md-input-container class="full-width ">
  <input mdInput
         placeholder="Locality"
         readonly
         disabled
         value=" {{team.meta}}">
</md-input-container>

<h6 class="sub-heading" *ngIf="allRegistrationsForTeam?.length === 0">
  No team members found yet.
</h6>

<md-list>
  <md-list-item
    [ngClass]="{'even': even, 'my-item':isItMe(registration.playerId)}"
    *ngFor="let registration of allRegistrationsForTeam; let i = index; let even = even;">
    <md-icon mdListIcon>person</md-icon>
    <h3 mdLine>{{registration.playerName | truncate:truncateMax}} </h3>
    <p mdLine>{{registration.faction}}</p>
    <p mdLine>
      <img class="padding-fix-icon"src="../../assets/my_crown_small.png">
      {{registration.elo}}
    </p>
    <button md-icon-button *ngIf="isAdmin || isCoOrganizer || isCreator || myTeam">
      <md-icon class="color-positive list-action" (click)="addArmyLists($event, registration)">
        playlist_add</md-icon>
    </button>
    <button md-icon-button *ngIf="isAdmin || isCoOrganizer || isCreator">
      <md-icon class="color-negative list-action" (click)="kickPlayer(registration)">delete</md-icon>
    </button>
  </md-list-item>
</md-list>

<ng-container *ngIf="isAdmin">
  <h3 class="heading">Admin Area</h3>
  <div class="right-align-button">
    <md-icon md-tooltip="Mail to Team Creator" (click)="sendMail(team.creatorMail)" class="color-info list-action">
      email
    </md-icon>
    <md-icon md-tooltip="Delete whole Team"
             class="color-negative list-action" (click)="deleteTeam(team)">delete
    </md-icon>
  </div>

  <div class="full-width">
    <md-icon class="align-fix">attach_money</md-icon>
    <md-checkbox
      [checked]="team?.paymentChecked"
      (change)="changePaidForTournament()"
      mdTooltip="Check all ArmyLists before you confirm"
    >Team paid?
    </md-checkbox>
  </div>

  <div class="full-width">
    <md-icon class="align-fix">assignment_late</md-icon>
    <md-checkbox
      [checked]="team?.armyListsChecked"
      (change)="changeArmyListForTournament()"
      mdTooltip="Check all ArmyLists before you confirm"
    >ArmyLists Okay?
    </md-checkbox>
  </div>
</ng-container>


<div md-dialog-actions>
  <div class="full-width">
    <button type="button" color="primary" md-raised-button (click)="dialogRef.close()">Close Dialog</button>
  </div>
</div>
