<h3 *ngIf="ranking" class="sub-heading">ArmyLists for {{ranking.playerName}}</h3>
<h3 *ngIf="tournamentPlayer" class="sub-heading">ArmyLists for {{tournamentPlayer.playerName}}</h3>
<h3 *ngIf="tournamentTeam" class="sub-heading">ArmyLists for {{tournamentTeam.teamName}}</h3>
<h3 *ngIf="tournamentRank" class="sub-heading">ArmyLists for {{tournamentRank.playerName}}</h3>
<md-dialog-content>
  <md-card>
    <div *ngIf="!tournamentTeam && armyLists.length == 0">No ArmyLists for Player found</div>
    <div *ngIf="tournamentTeam && armyLists.length == 0">No ArmyLists for Team found</div>
    <md-tab-group *ngIf="armyLists.length > 0">
      <md-tab *ngFor="let armyList of armyLists" label=" {{armyList.name}}">
        <div *ngIf="tournamentTeam" class="heading">{{armyList.playerName}}</div>
        <md-input-container
          class="full-width">
        <textarea
          mdInput
          class="fix-height"
          disabled>
          {{armyList.list}}</textarea>
          </md-input-container>
      </md-tab>
    </md-tab-group>
  </md-card>
</md-dialog-content>
<div md-dialog-actions>
  <button type="button" color="primary" md-raised-button (click)="dialogRef.close()">Close Dialog</button>
</div>
