<ng-container *ngIf="gamesForRound?.length === 0" >
  <div class="heading">Load Games... <mdl-spinner  single-color active></mdl-spinner></div>
</ng-container>

<md-input-container *ngIf="currentUserId !== actualTournament.creatorUid"
                    class="full-width">
  <input mdInput type="text" disabled placeholder="Scenario" value="{{selectedScenario}}">
</md-input-container>

<md-select
  *ngIf="currentUserId === actualTournament.creatorUid && !teamMatch"
  class="full-width-select-box"
  placeholder="Scenario"
  #scenario
  (change)="changeScenario()"
  [(ngModel)]="selectedScenario"
  name="scenario">
  <md-option *ngFor="let scenario of scenarios" [value]="scenario">{{ scenario }}</md-option>
</md-select>

<div *ngFor="let game of gamesForRound; let i = index; let even = even"
     [ngClass]="{'even': even,
                 'my-item':isItMyGame(game),
                 'clickable-tournament-game': (myGameOrAdmin(game) && !dragStarted)
                 }"
     (click)="openGameResultDialog(game)">
  <div class="table-info">Table {{game.playingField}}</div>
  <div class="game-cards-container">
    <md-card
      draggable="true"
      (click)="confirmSwapPlayer($event, game, game.playerOneTournamentPlayerId, game.playerTwoTournamentPlayerId)"
      class="game-card"
      [ngClass]="{  'move-able:': !game.finished,
                    'drop-enable': dragStarted && !game.finished && dragEnableForPlayerOne(game),
                    'drop-disable': dragStarted && !game.finished && !dragEnableForPlayerOne(game),
                    'card-won': (game.playerOneScore == 1 && game.finished),
                    'card-not-won': (game.playerOneScore == 0 && game.finished)} ">
      <div class="game-card-line game-card-line-playerName">{{game.playerOnePlayerName | truncate:40}}</div>
      <div class="game-card-line">{{game.playerOneFaction}}</div>
      <div class="game-card-line">
        Score: {{game.playerOneScore}}
        CP: {{game.playerOneControlPoints}}
        VP: {{game.playerOneVictoryPoints}}
      </div>
      <div *ngIf="game.playerOneArmyList" class="game-card-line">Played List: {{game.playerOneArmyList}}</div>
      <mdl-icon *ngIf="!swapPlayerMode && !game.finished && currentUserId === actualTournament.creatorUid"
                (click)="clickSwapPlayerPlayerOne($event, game)" mdTooltip="Swap Player Mode"
                class="swap-player-mode">swap_horiz
      </mdl-icon>
      <mdl-icon *ngIf="swapPlayerMode && !game.finished" (click)="endSwapPlayer($event)" mdTooltip="Exit Swap Player Mode"
                class="swap-player-mode">cancel
      </mdl-icon>
    </md-card>
    <div class="game-result-card-divider">
      VS
    </div>
    <md-card
      draggable="true"
      (click)="confirmSwapPlayer($event, game, game.playerTwoTournamentPlayerId, game.playerOneTournamentPlayerId)"
      class="game-card"
      [ngClass]="{  'move-able:': !game.finished,
                    'drop-enable': dragStarted && !game.finished && dragEnableForPlayerTwo(game),
                    'drop-disable': dragStarted && !game.finished && !dragEnableForPlayerTwo(game),
                    'card-won': (game.playerTwoScore == 1 && game.finished),
                    'card-not-won': (game.playerTwoScore == 0 && game.finished)} ">
      <div  class="game-card-line game-card-line-playerName">{{game.playerTwoPlayerName | truncate:40}}</div>
      <div  class="game-card-line">{{game.playerTwoFaction}}</div>
      <div  class="game-card-line">
        Score: {{game.playerTwoScore}}
        CP: {{game.playerTwoControlPoints}}
        VP: {{game.playerTwoVictoryPoints}}
      </div>
      <div *ngIf="game.playerTwoArmyList " class="game-card-line">Played List: {{game.playerTwoArmyList}}</div>
      <mdl-icon *ngIf="!swapPlayerMode && !game.finished && currentUserId === actualTournament.creatorUid"
                (click)="clickSwapPlayerPlayerTwo($event, game)" mdTooltip="Swap Player Mode"
                class="swap-player-mode">swap_horiz
      </mdl-icon>
      <mdl-icon *ngIf="swapPlayerMode && !game.finished" (click)="endSwapPlayer($event)" mdTooltip="Exit Swap Player Mode"
                class="swap-player-mode">cancel
      </mdl-icon>
    </md-card>
  </div>
</div>

