<ng-container *ngIf="!myRegistrations">
  <div class="heading">Load Registrations...
    <mdl-spinner single-color active></mdl-spinner>
  </div>
</ng-container>

<table class="full-width mdl-data-table mdl-shadow--3dp">
  <thead>
  <tr>
    <th *ngIf="smallScreen" class="centered">Registrations</th>
    <th *ngIf="!smallScreen" class="centered">Tournament</th>
    <th *ngIf="!smallScreen" class="centered">Team</th>
    <th *ngIf="!smallScreen" class="centered">Faction</th>
  </tr>
  </thead>
  <tbody
    *ngFor="let reg of myRegistrations | paginate: { itemsPerPage: 10, currentPage: page }; let i = index; let even = even">
  <tr class="games-table-row" (click)="onSelect(reg)">
    <td *ngIf="smallScreen" class="game-list-full-width-td">
      <div class="player-name-table-cell">
        {{reg.tournamentName | truncate:truncateMax}}
      </div>
      <div>{{reg.tournamentLocation}}</div>
      <div>{{reg.tournamentDate | date:'MM/d/yy HH:mm'}}</div>
      <div>{{reg.teamName}}</div>
      <div>{{reg.faction}}</div>
    </td>
    <td *ngIf="!smallScreen" class="game-list-full-width-td">
      <div class="player-name-table-cell">
        {{reg.tournamentName | truncate:truncateMax}}
      </div>
      <div>{{reg.tournamentLocation}}</div>
      <div>{{reg.tournamentDate | date:'MM/d/yy HH:mm'}}</div>
    </td>
    <td *ngIf="!smallScreen" class="game-list-full-width-td">{{reg.teamName}}</td>
    <td *ngIf="!smallScreen" class="game-list-full-width-td">{{reg.faction}}</td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
