<table class="full-width mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--3dp">
  <thead>
  <tr>
    <th class="small-three-space-table-cell">#</th>
    <th class="mdl-data-table__cell--non-numeric">Tournament</th>
    <th class="small-three-space-table-cell">Team</th>
    <th class="small-three-space-table-cell">Faction</th>
    <th class="small-three-space-table-cell">Link</th>
  </tr>
  </thead>
  <tbody *ngFor="let reg of myRegistrations$ | async; let i = index; let even = even"
         [ngClass]="{'even': even} ">
  <tr class="table-row">
    <td class="small-three-space-table-cell reg-table-cell">{{i +1}}</td>
    <td class="mdl-data-table__cell--non-numeric">
      <div class="tournament-name-table-cell">{{reg.tournamentName | truncate:40}}</div>
      <div>{{reg.tournamentLocation}}</div>
      <div> {{reg.tournamentDate | date:'MM/d/yy HH:mm'}}</div>
    </td>
    <td class="small-three-space-table-cell">{{reg.teamName}}</td>
    <td class="small-three-space-table-cell">{{reg.faction}}</td>
    <td class="small-three-space-table-cell">
      <a  [routerLink]="['/tournament/' + reg.tournamentId]">Go To Tournament</a>
    </td>
  </tr>
  </tbody>
</table>

