<md-sidenav-container class="god-container">
  <md-sidenav #sidenav mode="side" opened="{{sideNavOpen}}" class="side-nav">
    <nav>
      <img src="./assets/logo3.png" alt="logo" class="nav-img-logo">
      <hr>
      <div class="nav-welcome" *ngIf="(loggedIn)">Welcome</div>
      <div class="nav-user-welcome" *ngIf="(loggedIn)">
        {{currentUserName ? currentUserName : currentUserEmail}}
      </div>
      <div class="nav-container">
        <md-icon class="nav-icon">home</md-icon>
        <a class="nav-link" routerLink="/home">Home</a>
      </div>
      <div *ngIf="(loggedIn)" class="nav-container">
        <img src="../assets/my_crown_small.png" class="nav-icon">
        <a class="nav-link" routerLink="/my-site">My Site</a>
      </div>
      <div class="nav-container">
        <md-icon class="nav-icon">play_arrow</md-icon>
        <a class="nav-link" routerLink="/tournaments">Tournaments</a>
      </div>
      <div class="nav-container">
        <md-icon class="nav-icon">face</md-icon>
        <a class="nav-link" routerLink="/players">Players</a>
      </div>
      <div class="version-tag">OpenTournament 0.0.8 Beta</div>
      <div class="nav-about">
        <md-icon class="nav-icon">attachment</md-icon>
        <a class="nav-link" routerLink="/about">About</a>
      </div>
    </nav>
  </md-sidenav>
  <md-toolbar *ngIf="!fullscreenMode" color="primary">
    <div>
      <button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="material-icons  app-toolbar-menu">menu</i>
      </button>
    </div>
    <span class="app-name-label">OpenTournament BETA</span>
    <span class="spacer"></span>
    <span *ngIf="(currentUserName)" class="user-welcome-panel">{{currentUserName}}</span>
    <img *ngIf="(currentUserImage)" class="avatar" src="{{currentUserImage}}">
    <img *ngIf="(!currentUserImage)" class="avatar" src="../assets/icon_final_48.png">
    <a *ngIf="(loggedIn)" class="auth-anchor" (click)="logout()">Logout</a>
    <a *ngIf="(!loggedIn)" class="auth-anchor" (click)="login()">Login</a>
  </md-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
