<md-toolbar color="primary">
  <span>OpenTournament</span>
  <span class="spacer"></span>
  <span *ngIf="(uiState.loggedIn)" class="user-welcome-panel">{{uiState.currentUserName}}</span>
  <img *ngIf="(uiState.currentUserImage)" class="avatar" src="{{uiState.currentUserImage}}">
  <img *ngIf="(!uiState.currentUserImage)" class="avatar" src="../assets/icon_final_small.png">
  <a *ngIf="(uiState.loggedIn)" class="logout-anchor" (click)="logout()">Logout</a>
</md-toolbar>

<div class="app-content">

  <ul *ngIf="(uiState.loggedIn)">
    <li class="menu-entry">
      <a routerLink="home" href="/">Home</a>
    </li>
    <li class="menu-entry">
      <a routerLink="game" href="/">Game</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
<!--<tournament-list></tournament-list>-->
