<md-sidenav-container class="god-container">
  <md-sidenav #sidenav mode="side" opened="{{sideNavOpen}}" class="side-nav">
    <nav>
      <img src="./assets/logo3.png" alt="logo" class="nav-img-logo">
      <hr>
      <div class="nav-welcome" *ngIf="(auth$ | async).loggedIn">Welcome</div>
      <div class="nav-user-welcome" *ngIf="(auth$ | async).loggedIn">
        {{(auth$ | async).currentUserName ? (auth$ | async).currentUserName : (auth$ | async).currentUserEmail}}
      </div>
      <div class="nav-container">
        <md-icon class="nav-icon">home</md-icon>
        <a class="nav-link" (click)="closeIfSmallDevice()" routerLink="/home">Home</a>
      </div>
      <div *ngIf="((auth$ | async).loggedIn)" class="nav-container">
        <img src="../assets/my_crown_small.png" class="nav-icon">
        <a class="nav-link" (click)="closeIfSmallDevice()" routerLink="/my-site/profile">My Site</a>
      </div>
      <div *ngIf="((auth$ | async).userPlayerData)" class="nav-container">
        <md-icon class="nav-icon">fiber_new</md-icon>
        <a class="nav-link" (click)="requestNewTournament()" routerLink="/my-site/profile">New Tournament</a>
      </div>
      <div class="nav-container">
        <md-icon class="nav-icon">play_arrow</md-icon>
        <a class="nav-link" (click)="closeIfSmallDevice()" routerLink="/tournaments">Tournaments</a>
      </div>
      <div class="nav-container">
        <md-icon class="nav-icon">face</md-icon>
        <a class="nav-link" (click)="closeIfSmallDevice()" routerLink="/players">Players</a>
      </div>
      <div class="nav-container">
        <md-icon class="nav-icon">casino</md-icon>
        <a class="nav-link" (click)="closeIfSmallDevice()" routerLink="/games">Games</a>
      </div>
      <div class="version-tag">OpenTournament 0.5.1</div>
      <div class="nav-about">
        <md-icon class="nav-icon">attachment</md-icon>
        <a class="nav-link" (click)="closeIfSmallDevice()" routerLink="/about">About</a>
      </div>
    </nav>
  </md-sidenav>
  <md-toolbar *ngIf="!fullscreenMode" color="primary">
    <div>
      <button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="material-icons  app-toolbar-menu">menu</i>
      </button>
    </div>
    <span class="app-name-label">OpenTournament {{isDevMode ? 'TEST': ''}}</span>
    <span class="spacer"></span>
    <span>
      <md-icon class="online_icon"
               mdTooltip="Connected"
               *ngIf="(isConnected$ | async)">
        network_wifi
      </md-icon>
      <md-icon class="offline_icon"
               mdTooltip="No Connection"
               *ngIf="!(isConnected$ | async)">
        signal_wifi_off
      </md-icon>
    </span>
    <span *ngIf="((auth$ | async).currentUserName)"
          class="user-welcome-panel">{{(auth$ | async).currentUserName}}</span>
    <img *ngIf="((auth$ | async).currentUserImage)" class="avatar" src="{{(auth$ | async).currentUserImage}}">
    <img *ngIf="(!(auth$ | async).currentUserImage)" class="avatar" src="../assets/icon_final_48.png">
    <a *ngIf="((auth$ | async).loggedIn)" class="auth-anchor" (click)="logout()">Logout</a>
    <a *ngIf="(!(auth$ | async).loggedIn)" class="auth-anchor" (click)="login()">Login</a>
  </md-toolbar>

  <!--<div class="app-content">-->
  <!--<router-outlet></router-outlet>-->
  <!--</div>-->

  <ng-container *ngIf="!(auth$ | async)">
    <div class="heading">Try to Login...</div>
    <div class="loading-spinner-container">
      <md-spinner></md-spinner>
    </div>
  </ng-container>


  <router-outlet></router-outlet>

</md-sidenav-container>
