@import "../../../../styles";


.team-table-row{
  font-size: 0.8em;
  letter-spacing: 0;
}

.team-table-row:hover{
  cursor: pointer;
  background-color: $color_info;
}


@media only screen and (min-width: 500px) {

  .team-table-row{
    font-size: 1.2em;
  }
}

.team-table-container{
  margin: $halve_tick;
}

@media only screen and (min-width: 500px) {
  .team-table-container{
    min-width: 450px;

  }
}

@media only screen and (min-width: 800px) {
  .team-table-container{
    min-width: 600px;

  }
}

.teamName-column{
  flex: 4;
  font-weight: bold;
}

.locality-column{
  flex: 3;
}

.actions-column{
  flex: 2;
}
