
@import "../../../styles";

.tournament-heading{
  text-align: center;
}

.create-action{
  display: inline-block;
  position: absolute;
  top: 100px;
  right: 25px;
}

.my-site-tournaments{
  height: 100%;
}

.mat-tab-body-content{
  height: auto;
}

.big-heading{
  height: 100px;
}

