<h4 class="heading">MySite - MyProfile</h4>

<div class="my-site-nav-container">
  <button md-raised-button class="color-positive-background action-button"
          (click)="openCreateTournamentDialog()">
    New Tournament
  </button>
  <button md-raised-button  class="color-primary-background action-button"
          (click)="router.navigate(['/my-site/tournaments']);">
    MyTournaments
  </button>
  <button md-raised-button class="color-primary-background action-button"
          (click)="router.navigate(['/my-site/registrations']);">
    MyRegistrations
  </button>
  <button md-raised-button class="color-primary-background action-button"
          (click)="router.navigate(['/my-site/games']);">
    MyGames
  </button>
</div>

<ng-container *ngIf="!(userPlayerData$ | async)">
  <div class="heading">Load Profile...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>
<div class="flex-container">
  <player-form *ngIf="(userPlayerData$ | async)"
               [playerData]="userPlayerData$ | async">
  </player-form>
</div>



