<h3 md-dialog-title class="heading">Info {{tournament?.name}}</h3>

<md-dialog-content>
  <pre *ngIf="!tournament?.description">No Description found for Tournament</pre>
  <pre *ngIf="tournament?.description" class="full-width">
    {{tournament?.description}}
  </pre>
</md-dialog-content>
<div md-dialog-actions>
  <div class="full-width">
    <button type="button" class="full-width-button" color="primary" md-raised-button (click)="dialogRef.close()">
      Close Dialog
    </button>
  </div>
</div>
