@import "../../../styles";

.player-profile-card {
  width: 300px;
}

@media only screen and (min-width: 500px) {
  .player-profile-card {
    width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .player-profile-card {
    width: 700px;
  }
}
