<h2 class="heading">Online Tournaments ({{(allTournaments$| async)?.length}})</h2>


<md-input-container class="tournament-search-container" floatPlaceholder="never">
  <input mdInput #searchField placeholder="Search for TournamentName">
</md-input-container>

<md-select
  class="tournament-state-filter"
  placeholder="Filter"
  (change)="changeFilter()"
  [(ngModel)]="selectedFilterState">
  <md-option value="Upcoming">Upcoming</md-option>
  <md-option value="Finished">Finished</md-option>
</md-select>

<ng-container *ngIf="(loadTournaments$ | async)">
  <div class="heading">Load Tournaments...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>
<md-list *ngFor="let groupedTournaments of (allTournamentsGrouped$| async)">
  <h4 *ngIf="groupedTournaments?.tournaments?.length !== 0" md-subheader>{{groupedTournaments.monthYear}}
    ({{groupedTournaments.tournaments.length}})</h4>
  <tournament-list [tournaments]="groupedTournaments.tournaments"></tournament-list>
  <md-divider></md-divider>
</md-list>

