<md-list-item
  *ngFor="let player of players; let i = index; let even = even;"
  (click)="onSelect(player)"
  class="list-item"
  [ngClass]="{ even: even}">
  <h2 md-list-avatar>{{i+1}}</h2>
  <h2 md-line style="padding-bottom: 15px">{{player.firstName}} <b>{{player.nickName}}</b> {{player.lastName}}</h2>
  <p md-line  style="padding-bottom: 10px">
    <span> {{player.origin}} </span>
    <span class="small-md-line"> - {{player.meta}} </span>
  </p>
  <p md-line>
    <span> {{player.country}} </span>
  </p>
  <span class="md-secondary-spacer"></span>
  <img class="md-secondary" src="../../../assets/my_crown_small.png">
  <span class="md-secondary">{{player.elo}}</span>
</md-list-item>

