

<mdl-list-item lines="3"
               class="list-item"
               *ngFor="let player of players; let i = index; let even = even;"
               [ngClass]="{'even': even}">

  <mdl-list-item-primary-content>
    <mdl-icon mdl-list-item-avatar mdl-badge="{{i + 1}}" mdl-badge-overlap>
      person
    </mdl-icon>
    <span>{{player.firstName}} <b>{{player.nickName}}</b> {{player.lastName}}</span>
    <mdl-list-item-text-body>
      <div>{{player.origin}} - {{player.meta}}</div>
      <div>{{player.country}}</div>
    </mdl-list-item-text-body>
  </mdl-list-item-primary-content>
  <mdl-list-item-secondary-content>
    <mdl-list-item-secondary-info class="align-fix">ELO<img class="padding-fix-icon" src="../../../assets/my_crown_small.png"></mdl-list-item-secondary-info>
    <span >{{player.elo}}</span>
  </mdl-list-item-secondary-content>
</mdl-list-item>

