<h4 class="heading">{{actualTournament?.name}}</h4>
<h4 *ngIf="isAdmin" class="sub-heading">Hello Organizer</h4>
<h4 *ngIf="isCoOrganizer" class="sub-heading">Hello Co-Organizer</h4>
<h4 *ngIf="isTournamentPlayer" class="sub-heading">Hello Player</h4>

<div class="actual-tournament-nav-container">
  <button type="button"
          md-raised-button
          class="color-info-background action-button"
          [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
    Round {{round}}
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item disabled>
      Active -> Round {{round}}
    </button>
    <button md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'registrations']);">
      Go to -> Registrations
    </button>
    <button *ngIf="isAdmin || isCoOrganizer"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'players']);">
      Go to -> Players
    </button>
    <button *ngFor=" let round of getArrayForNumber(actualTournament?.actualRound) ;let index = index;"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'round', round]);">
      Go to -> Round {{index +1}}
    </button>
    <button *ngIf="actualTournament?.finished"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'finalRankings']);">
      Go to -> Final Rankings
    </button>
  </md-menu>
</div>
<h3 class="heading" *ngIf="round > actualTournament?.actualRound">
  No data for round {{round}} found
</h3>

<ng-container *ngIf="round <= actualTournament?.actualRound">
  <h2 class="heading">
    Round {{round}} Team: {{isTeamTournament}}
  </h2>


  <h3 class="heading padding" *ngIf="checkOrganizerIsParing()">
    Tournament Organizer is pairing.
    Page will reload when he publish the new round.
  </h3>
  <div class="action-card-container">
    <ng-container *ngIf="(round === actualTournament?.actualRound) && (isAdmin || isCoOrganizer)">
      <button *ngIf="(finishedGamesForRound$ | async).length === 0 && !actualTournament?.finished"
              (click)="openPairAgainDialog()"
              type="button"
              class="color-positive-background action-button"
              md-raised-button>
        <md-icon>undo</md-icon>
        Pair Again
      </button>
      <button *ngIf="(unfinishedGamesForRound$ | async).length === 0 && !actualTournament?.finished"
              (click)="openNewRoundDialog()"
              type="button"
              class="color-positive-background action-button"
              md-raised-button>
        <md-icon>play_arrow</md-icon>
        New Round
      </button>
      <button *ngIf="(unfinishedGamesForRound$ | async).length === 0 && !actualTournament?.finished"
              (click)="openFinishTournamentDialog()"
              type="button"
              class="color-positive-background action-button"
              md-raised-button>
        <md-icon>flag</md-icon>
        End Tournament
      </button>
      <button *ngIf="(actualTournament$ | async).visibleRound < (actualTournament$ | async).actualRound"
              (click)="publishRound()"
              type="button"
              class="color-positive-background action-button"
              md-raised-button>
        <md-icon>cloud_upload</md-icon>
        Publish Round
      </button>
      <button *ngIf="(isAdmin || isCoOrganizer) && !actualTournament?.finished"
              (click)="openKillRoundDialog()"
              type="button"
              class="color-negative-background action-button"
              md-raised-button>
        <md-icon>warning</md-icon>
        Kill Round
      </button>
      <button *ngIf="userPlayerData.id === '-KhS1c-TCch2ftWtTAMw'"
              (click)="doRandomGameResultsForAllGames()"
              type="button"
              class="color-negative-background action-button"
              md-raised-button>
        <md-icon>warning</md-icon>
        !Random Results!
      </button>
    </ng-container>
    <button (click)="showRankingsOfRound()"
            type="button"
            class="color-info-background action-button"
            md-raised-button>
      <md-icon>list</md-icon>
      Show Rankings
    </button>

  </div>
</ng-container>

<ng-container *ngIf="(loadGames$ | async)">
  <div class="heading">Load Games...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>

<ng-container *ngIf="(!isAdmin && !isCoOrganizer) &&
                      actualTournament?.actualRound > actualTournament?.visibleRound &&
                      (allTournamentGamesFiltered$ | async).length > 0">
  <md-input-container
    class="full-width-with-padding">
    <input mdInput disabled placeholder="Scenario" value="{{selectedScenario}}">
  </md-input-container>
</ng-container>

<ng-container *ngIf="(isAdmin || isCoOrganizer) && (allTournamentGamesFiltered$ | async).length > 0">
  <md-select
    placeholder="Scenario"
    class="full-width-with-padding"
    #scenario
    (change)="changeScenario()"
    [(ngModel)]="selectedScenario"
    name="scenario">
    <md-option *ngFor="let scenario of scenarios" [value]="scenario">{{ scenario }}</md-option>
  </md-select>
</ng-container>

<div class="full-width-with-padding">

  <div id="top"></div>
  <button
    (click)="startAutoScroll()"
    type="button"
    class="color-secondary-background"
    md-raised-button>
    <md-icon>play_arrow</md-icon>
    AutoScroll
  </button>
  <button *ngIf="isTournamentPlayer && !(onlyMyGameFilter$ | async)"
          class="my-game-button color-secondary-background"
          type="button"
          md-tooltip="Show only MyGame" (click)="showOnlyMyGame(true)"
          md-raised-button>
    Show only MyGame
  </button>
  <button *ngIf="isTournamentPlayer && (onlyMyGameFilter$ | async)"
          class="my-game-button color-secondary-background"
          type="button"
          md-tooltip="Show all" (click)="showOnlyMyGame(false)"
          md-raised-button>
    Show All Games
  </button>
  <md-input-container class="players-search-container" floatPlaceholder="never">
    <input class="search-field" mdInput #searchField placeholder="Show Game on Table Number">
  </md-input-container>
</div>

<ng-container *ngIf="!isTeamTournament">
  <ng-container *ngIf="isAdmin || isCoOrganizer || actualTournament?.actualRound <= actualTournament?.visibleRound">
    <tournament-games *ngIf="(allTournamentGamesFiltered$ | async).length > 0 && actualTournament"
                      [isAdmin]="isAdmin"
                      [isCoOrganizer]="isCoOrganizer"
                      [actualTournament]="actualTournament"
                      [gamesForRound]="allTournamentGamesFiltered$ | async"
                      [rankingsForRound]="rankingsForRound$ | async"
                      [armyLists]="allArmyLists$ | async"
                      [userPlayerData]="userPlayerData"
                      (onGameResultEntered)="handleGameResultEntered($event)"
                      (onDeletePlayer)="handleDeletePlayer($event)"
                      (onAddArmyLists)="handleAddArmyLists($event)"
                      (onClearPlayerGameResult)="handleClearPlayerGameResult($event)">
    </tournament-games>

  </ng-container>
</ng-container>

<ng-container *ngIf="isTeamTournament">
  <ng-container *ngIf="isAdmin || isCoOrganizer || actualTournament?.actualRound <= actualTournament?.visibleRound">
    <tournament-team-games *ngIf="(allTournamentGamesFiltered$ | async).length > 0 && actualTournament"
                      [isAdmin]="isAdmin"
                      [isCoOrganizer]="isCoOrganizer"
                      [actualTournament]="actualTournament"
                      [gamesForRound]="teamGamesForRound$ | async"
                      [rankingsForRound]="rankingsForRound$ | async"
                      [armyLists]="allArmyLists$ | async"
                      [userPlayerData]="userPlayerData"
                      (onGameResultEntered)="handleGameResultEntered($event)"
                      (onDeletePlayer)="handleDeletePlayer($event)"
                      (onAddArmyLists)="handleAddArmyLists($event)"
                      (onClearPlayerGameResult)="handleClearPlayerGameResult($event)">
    </tournament-team-games>

  </ng-container>
</ng-container>

<div id="bottom"></div>

