<h4 class="heading">{{actualTournament?.name}}</h4>
<h4 *ngIf="isAdmin" class="sub-heading">Hello Organizer</h4>
<h4 *ngIf="isCoOrganizer" class="sub-heading">Hello Co-Organizer</h4>
<h4 *ngIf="isTournamentPlayer" class="sub-heading">Hello Player</h4>

<div class="actual-tournament-nav-container">
  <button type="button"
          md-raised-button
          class="color-info-background action-button"
          [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
    Round {{round}}
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item disabled>
      Active -> Round {{round}}
    </button>
    <button md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'registrations']);">
      Go to -> Registrations
    </button>
    <button *ngIf="isAdmin || isCoOrganizer"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'players']);">
      Go to -> Players
    </button>
    <button *ngFor=" let round of getArrayForNumber(actualTournament?.actualRound) ;let index = index;"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'round', round]);">
      Go to -> Round {{index +1}}
    </button>
    <button *ngIf="actualTournament?.finished"
            md-menu-item
            (click)="router.navigate(['/tournament', actualTournament?.id, 'finalRankings']);">
      Go to -> Final Rankings
    </button>
  </md-menu>
</div>
<h3 class="heading" *ngIf="round > actualTournament?.actualRound">
  No data for round {{round}} found
</h3>

<ng-container *ngIf="round <= actualTournament?.actualRound">
  <h2 class="heading">
    Round {{round}}
  </h2>


  <h3 class="heading" *ngIf="(!isAdmin && !isCoOrganizer) &&
            (actualTournament?.actualRound > actualTournament?.visibleRound) &&
            (round === actualTournament?.actualRound)">
    Tournament Organizer is pairing.
    Page will reload when he publish the new round.
  </h3>
  <div class="action-card-container">
    <md-card class="action-card action-button-wrapper">
      <ng-container *ngIf="(round === actualTournament?.actualRound) && (isAdmin || isCoOrganizer)">
        <button *ngIf="(finishedGamesForRound$ | async).length === 0 && !actualTournament?.finished"
                (click)="openPairAgainDialog()"
                type="button"
                class="color-positive-background action-button"
                md-raised-button>
          <md-icon>undo</md-icon>
          Pair Again
        </button>
        <button *ngIf="(unfinishedGamesForRound$ | async).length === 0 && !actualTournament?.finished"
                (click)="openNewRoundDialog()"
                type="button"
                class="color-positive-background action-button"
                md-raised-button>
          <md-icon>play_arrow</md-icon>
          New Round
        </button>
        <button *ngIf="(unfinishedGamesForRound$ | async).length === 0 && !actualTournament?.finished"
                (click)="openFinishTournamentDialog()"
                type="button"
                class="color-positive-background action-button"
                md-raised-button>
          <md-icon>flag</md-icon>
          End Tournament
        </button>
        <button *ngIf="(actualTournament$ | async).visibleRound < (actualTournament$ | async).actualRound"
                (click)="publishRound()"
                type="button"
                class="color-positive-background action-button"
                md-raised-button>
          <md-icon>cloud_upload</md-icon>
          Publish Round
        </button>
        <button *ngIf="(isAdmin || isCoOrganizer) && !actualTournament?.finished"
                (click)="openKillRoundDialog()"
                type="button"
                class="color-negative-background action-button"
                md-raised-button>
          <md-icon>warning</md-icon>
          Kill Round
        </button>
        <button *ngIf="userPlayerData.id === '-KhS1c-TCch2ftWtTAMw'"
                (click)="doRandomGameResultsForAllGames()"
                type="button"
                class="color-negative-background action-button"
                md-raised-button>
          <md-icon>warning</md-icon>
          !Random Results!
        </button>
      </ng-container>
      <button (click)="showRankingsOfRound()"
              type="button"
              class="color-info-background action-button"
              md-raised-button>
        <md-icon>list</md-icon>
        Show Rankings
      </button>
    </md-card>
  </div>
</ng-container>

<ng-container *ngIf="(loadGames$ | async)">
  <div class="heading">Load Games...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>

<ng-container *ngIf="(!isAdmin && !isCoOrganizer) && (allTournamentGamesFiltered$ | async).length > 0">
  <md-input-container
    class="full-width">
    <input mdInput disabled placeholder="Scenario" value="{{selectedScenario}}">
  </md-input-container>
</ng-container>
<ng-container *ngIf="(isAdmin || isCoOrganizer) && (allTournamentGamesFiltered$ | async).length > 0">
  <md-select
    placeholder="Scenario"
    class="full-width-select-box"
    #scenario
    (change)="changeScenario()"
    [(ngModel)]="selectedScenario"
    name="scenario">
    <md-option *ngFor="let scenario of scenarios" [value]="scenario">{{ scenario }}</md-option>
  </md-select>
</ng-container>

<div class="full-width">

  <div id="top"></div>
  <button
    (click)="startAutoScroll()"
    type="button"
    class="color-secondary-background"
    md-raised-button>
    <md-icon>play_arrow</md-icon>
    AutoScroll
  </button>
  <button *ngIf="isTournamentPlayer && !(onlyMyGameFilter$ | async)"
          class="my-game-button color-secondary-background"
          type="button"
          md-tooltip="Show only MyGame" (click)="showOnlyMyGame(true)"
          md-raised-button>
    Show only MyGame
  </button>
  <button *ngIf="isTournamentPlayer && (onlyMyGameFilter$ | async)"
          class="my-game-button color-secondary-background"
          type="button"
          md-tooltip="Show all" (click)="showOnlyMyGame(false)"
          md-raised-button>
    Show All Games
  </button>
  <md-input-container class="players-search-container" floatPlaceholder="never">
    <input class="search-field" mdInput #searchField placeholder="Show Game on Table Number">
  </md-input-container>
</div>

<ng-container *ngIf="isAdmin || isCoOrganizer || actualTournament?.actualRound <= actualTournament?.visibleRound">
  <tournament-games *ngIf="(allTournamentGamesFiltered$ | async).length > 0 && actualTournament"
                    [isAdmin]="isAdmin"
                    [isCoOrganizer]="isCoOrganizer"
                    [actualTournament]="actualTournament"
                    [gamesForRound]="allTournamentGamesFiltered$ | async"
                    [rankingsForRound]="rankingsForRound$ | async"
                    [armyLists]="allArmyLists$ | async"
                    [userPlayerData]="userPlayerData"
                    (onGameResultEntered)="handleGameResultEntered($event)"
                    (onDeletePlayer)="handleDeletePlayer($event)"
                    (onAddArmyLists)="handleAddArmyLists($event)"
                    (onClearPlayerGameResult)="handleClearPlayerGameResult($event)">
  </tournament-games>
  <div id="bottom"></div>
</ng-container>

<!--<div *ngIf="(isAdmin || isCoOrganizer)  &&-->
<!--(round === actualTournament.actualRound) &&-->
<!--!actualTournament.finished && !rankingsFullscreenMode && !gamesFullscreenMode && !swapPlayerMode"-->
<!--class="action-card-container">-->
<!--<md-card class="action-card">-->
<!--<div class="action-button-wrapper">-->
<!--<button *ngIf="allGamesUntouched"-->
<!--(click)="openPairAgainDialog()"-->
<!--type="button"-->
<!--class="color-positive-background action-button"-->
<!--md-raised-button>-->
<!--<md-icon>undo</md-icon>-->
<!--Pair Again-->
<!--</button>-->
<!--<button *ngIf="allGamesFinished"-->
<!--(click)="openNewRoundDialog()"-->
<!--type="button"-->
<!--class="color-positive-background action-button"-->
<!--md-raised-button>-->
<!--<md-icon>play_arrow</md-icon>-->
<!--New Round-->
<!--</button>-->

<!--<button *ngIf="allGamesFinished"-->
<!--(click)="openFinishTournamentDialog()"-->
<!--type="button"-->
<!--class="color-positive-background action-button"-->
<!--md-raised-button>-->
<!--<md-icon>flag</md-icon>-->
<!--End Tournament-->
<!--</button>-->

<!--<button *ngIf="actualTournament.visibleRound < actualTournament.actualRound"-->
<!--(click)="publishRound()"-->
<!--type="button"-->
<!--class="color-positive-background action-button"-->
<!--md-raised-button>-->
<!--<md-icon>cloud_upload</md-icon>-->
<!--Publish Round-->
<!--</button>-->

<!--<button (click)="openKillRoundDialog()"-->
<!--type="button"-->
<!--class="color-negative-background action-button"-->
<!--md-raised-button>-->
<!--<md-icon>warning</md-icon>-->
<!--Kill Round-->
<!--</button>-->
<!--</div>-->
<!--</md-card>-->
<!--</div>-->
<!--<div class="content-cards-container" *ngIf="(isAdmin) ||-->
<!--(!isAdmin && !isCoOrganizer && (round <= actualTournament.visibleRound))">-->
<!--<md-card *ngIf="!rankingsFullscreenMode" class="games-for-round-card">-->
<!--<h3 class="heading">Games Round {{round}}</h3>-->
<!--<mdl-icon (click)="printGames()" mdTooltip="Print Games" class="print-games-icon">print</mdl-icon>-->
<!--<mdl-icon *ngIf="!gamesFullscreenMode" (click)="openGamesFullScreenMode(true)" mdTooltip="Fullscreen Mode"-->
<!--class="fullscreen-mode">fullscreen-->
<!--</mdl-icon>-->
<!--<mdl-icon *ngIf="gamesFullscreenMode" (click)="openGamesFullScreenMode(false)" mdTooltip="Exit Fullscreen Mode"-->
<!--class="fullscreen-mode">fullscreen_exit-->
<!--</mdl-icon>-->
<!--<mdl-icon *ngIf="!gamesTableMode" (click)="changeToTableMode(true)" mdTooltip="Table Mode" class="table-mode">list-->
<!--</mdl-icon>-->
<!--<mdl-icon *ngIf="gamesTableMode" (click)="changeToTableMode(false)" mdTooltip="Exit Table Mode" class="table-mode">-->
<!--view_list-->
<!--</mdl-icon>-->

<!--<mdl-textfield *ngIf="!gamesFullscreenMode"-->
<!--type="text"-->
<!--maxlength="50"-->
<!--placeholder="Filter by PlayerName/TableNumber"-->
<!--class="filter-textfield"-->
<!--#seachInput-->
<!--(keyup)="search(seachInput.value)">-->
<!--</mdl-textfield>-->
<!--<button *ngIf="!gamesFullscreenMode && isTournamentPlayer && !showOnlyMyGameState"-->
<!--class="my-game-button color-secondary-background"-->
<!--type="button"-->
<!--md-tooltip="Show only MyGame" (click)="showOnlyMyGame()"-->
<!--md-raised-button>-->
<!--Show MyGame-->
<!--</button>-->
<!--<button *ngIf="!gamesFullscreenMode && isTournamentPlayer && showOnlyMyGameState"-->
<!--class="my-game-button color-secondary-background"-->
<!--type="button"-->
<!--md-tooltip="Show all" (click)="showAllGames()"-->
<!--md-raised-button>-->
<!--Show All-->
<!--</button>-->
<!--<h4 *ngIf="allGamesFiltered?.length == 0" class="heading">No Games found (Filter?)</h4>-->
<!--<tournament-game-list *ngIf="!gamesTableMode"-->
<!--[round]="round"-->
<!--[isAdmin]="isAdmin"-->
<!--[isCoOrganizer]="isCoOrganizer"-->
<!--[teamMatch]="false"-->
<!--[actualTournament]="actualTournament"-->
<!--[actualTournamentArmyLists$]="actualTournamentArmyLists$"-->
<!--[gamesForRound]="allGamesFiltered"-->
<!--[rankingsForRound$]="rankingsForRound$"-->
<!--(onGameResult)="handleGameResult($event)"-->
<!--(onSwapPlayer)="handleSwapPlayer($event)"-->
<!--(onScenarioSelected)="handleScenarioSelected($event)"-->
<!--(onClearPlayerGameResult)="handleClearPlayerGameResult($event)"-->
<!--&gt;</tournament-game-list>-->

<!--<tournament-game-table *ngIf="gamesTableMode"-->
<!--[actualTournament]="actualTournament"-->
<!--[games]="allGamesFiltered"-->
<!--&gt;</tournament-game-table>-->
<!--</md-card>-->
<!--<md-card *ngIf="!gamesFullscreenMode" class="tournament-ranking-table-card">-->
<!--<h3 class="heading">Rankings Round {{round}}</h3>-->
<!--<mdl-icon (click)="printRankings()" mdTooltip="Print Rankings" class="print-rankings-icon">print</mdl-icon>-->
<!--<mdl-icon *ngIf="!rankingsFullscreenMode" (click)="openRankingsFullScreenMode(true)" mdTooltip="Fullscreen Mode"-->
<!--class="fullscreen-mode">fullscreen-->
<!--</mdl-icon>-->
<!--<mdl-icon *ngIf="rankingsFullscreenMode" (click)="openRankingsFullScreenMode(false)"-->
<!--mdTooltip="Exit Fullscreen Mode" class="fullscreen-mode">fullscreen_exit-->
<!--</mdl-icon>-->
<!--<tournament-ranking-list-->
<!--[isAdmin]="isAdmin"-->
<!--[isCoOrganizer]="isCoOrganizer"-->
<!--[round]="round"-->
<!--[actualTournament]="actualTournament"-->
<!--[actualTournamentArmyList$]="armyLists$"-->
<!--[rankingsForRound$]="rankingsForRound$"-->
<!--[userPlayerData]="userPlayerData"-->
<!--(onDropPlayer)="handleDropPlayer($event)"-->
<!--(onUndoDropPlayer)="handleUndoDropPlayer($event)"-->
<!--&gt;</tournament-ranking-list>-->
<!--</md-card>-->
<!--</div>-->
