<table class="full-width mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--3dp">
  <thead>
  <tr>
    <th class="small-three-space-table-cell">#</th>
    <th class="small-three-space-table-cell">Lists</th>
    <th class="mdl-data-table__cell--non-numeric">Player</th>
    <th class="small-three-space-table-cell">Score</th>
    <th class="small-three-space-table-cell">SOS</th>
    <th class="small-three-space-table-cell">CP</th>
    <th class="small-three-space-table-cell">VP</th>
  </tr>
  </thead>
  <tbody *ngFor="let rank of orderedRankings$ | async; let i = index; let even = even"
         [ngClass]="{'even': even, 'my-item':isItMe(rank.playerId)} ">
  <tr class="table-row">
    <td class="small-three-space-table-cell rank-table-cell">{{i +1}}</td>
    <td class="small-three-space-table-cell rank-table-cell">
      <md-icon class="army-list-icon"
               *ngIf="hasArmyList(rank)"
                (click)="openArmyListDialog(rank)">
        list</md-icon>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      <div class="player-name-table-cell">{{rank.playerName | truncate:40}}</div>
      <div>{{rank.faction}}</div>
      <div>{{rank.teamName}} - {{rank.meta}} - {{rank.origin}}</div>
      <div *ngIf="rank.elo != 0">{{rank.elo}}<img class="md-secondary" src="../../../assets/my_crown_small.png"></div>
    </td>
    <td class="small-three-space-table-cell">{{rank.score}}</td>
    <td class="small-three-space-table-cell">{{rank.sos}}</td>
    <td class="small-three-space-table-cell">{{rank.controlPoints}}</td>
    <td class="small-three-space-table-cell">{{rank.victoryPoints}}</td>

  </tr>
  </tbody>
</table>

