@import '../../../styles';

.rank-number{
  padding-right: $main_tick !important;
  padding-left: $main_tick !important;
}

.player-name-table-cell {
  font-size: 0.8em;
  margin-bottom: 6px;
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  .player-name-table-cell {
    font-size: 1.2em;
    margin-bottom: 6px;
    font-weight: bold;
  }
}

.other-player-data-table-cell{
  font-size: 0.7em;
}

@media only screen and (min-width: 800px) {
  .other-player-data-table-cell{
    font-size: 1.0em;
  }
}

.rank-table-cell {
  font-size: 1.5em;
  font-weight: bold;
}

.small-three-space-table-cell {
  width: 10px;
  font-size: 0.8em;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .small-three-space-table-cell {
    width: 20px;
  }
}

.mdl-data-table th {
  padding-left: 3px;
  padding-right: 3px;
}

@media only screen and (min-width: 800px) {

  .mdl-data-table th {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.mdl-data-table td {
  padding-left: $quarter_tick;
  padding-right: $quarter_tick;
}

@media only screen and (min-width: 800px) {
  .mdl-data-table td {
    padding-left: $halve_tick;
    padding-right:$halve_tick;
  }
}

.mdl-data-table {
  white-space: normal;
}

.drop-player-action {
  color: $fail_color;
  padding-right: $halve_tick;
  font-size: $medium-icon-size;
}

.undo-drop-player-action{
  color: $success_color;
  padding-right: $halve_tick;
  font-size: $medium-icon-size;
}
