<ng-container *ngIf="(orderedRankings$ | async).length === 0" >
  <div class="heading">Load Rankings... <mdl-spinner  single-color active></mdl-spinner></div>
</ng-container>
<table class="full-width mdl-data-table mdl-js-data-table mdl-shadow--3dp">
  <thead>
  <tr>
    <th class="small-three-space-table-cell rank-number">#</th>
    <th *ngIf="!smallScreen" class="small-three-space-table-cell">Lists</th>
    <th class="mdl-data-table__cell--non-numeric">Player</th>
    <th class="small-three-space-table-cell">Score</th>
    <th class="small-three-space-table-cell">SOS</th>
    <th class="small-three-space-table-cell">CP</th>
    <th class="small-three-space-table-cell">VP</th>
  </tr>
  </thead>
  <tbody *ngFor="let rank of orderedRankings$ | async; let i = index; let even = even"
         [ngClass]="{'even': even, 'my-item':isItMe(rank.playerId)} ">
  <tr class="table-row">
    <td class="small-three-space-table-cell rank-table-cell rank-number">{{i +1}}</td>
    <td  *ngIf="!smallScreen" class="small-three-space-table-cell rank-table-cell">
      <md-icon class="army-list-icon"
               *ngIf="hasArmyList(rank)"
                (click)="openArmyListDialog(rank)">
        list</md-icon>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      <div class="player-name-table-cell">{{rank.playerName | truncate:truncateMax}}</div>
      <div class="other-player-data-table-cell">{{rank.faction}}</div>
      <div mdTooltip="TEAM" *ngIf="smallScreen" class="other-player-data-table-cell">{{rank.teamName}}</div>
      <div mdTooltip="TEAM - META - ORIGIN - COUNTRY" *ngIf="!smallScreen" class="other-player-data-table-cell">{{rank.teamName}} - {{rank.meta}} - {{rank.origin}} - {{rank.country}}</div>
      <div>{{rank.country}}</div>
      <div *ngIf="rank.elo != 0" class=" align-fix other-player-data-table-cell">{{rank.elo}}<img class="align-fix md-secondary" src="../../../assets/my_crown_small.png"></div>
    </td>
    <td class="small-three-space-table-cell">{{rank.score}}</td>
    <td class="small-three-space-table-cell">{{rank.sos}}</td>
    <td class="small-three-space-table-cell">{{rank.controlPoints}}</td>
    <td class="small-three-space-table-cell">{{rank.victoryPoints}}</td>

  </tr>
  </tbody>
</table>

