<div *ngIf="isAdmin && !rankingsFullscreenMode" class="action-card-container">
  <md-card *ngIf="!actualTournament.uploaded" class="action-card">
    <div class="action-button-wrapper">
      <button (click)="publishTeamTournament()"
              type="button"
              class="color-positive-background action-button"
              md-raised-button>
        <md-icon>cloud_upload</md-icon>
        Publish All
      </button>
      <button (click)="undoTeamTournamentEnd()"
              type="button"
              class="color-negative-background action-button"
              md-raised-button>
        <md-icon>undo</md-icon>
        Undo End
      </button>
    </div>
  </md-card>
</div>
<div class="content-cards-container">
  <md-card class="tournament-ranking-table-card">
    <h3 class="heading">Final Rankings</h3>
    <mdl-icon (click)="printRankings()" mdTooltip="Print Rankings" class="print-rankings-icon">print</mdl-icon>
    <mdl-icon *ngIf="!rankingsFullscreenMode" (click)="openRankingsFullScreenMode(true)" mdTooltip="Fullscreen Mode"
              class="fullscreen-mode">fullscreen
    </mdl-icon>
    <mdl-icon *ngIf="rankingsFullscreenMode" (click)="openRankingsFullScreenMode(false)"
              mdTooltip="Exit Fullscreen Mode" class="fullscreen-mode">fullscreen_exit
    </mdl-icon>
    <mdl-icon (click)="openSoloRankingForTeamTournament()"
              mdTooltip="Solo Rankings" class="solo-ranking-in-team">face
    </mdl-icon>
    <tournament-team-ranking-list
      [isAdmin]="isAdmin"
      [round]="actualTournament.actualRound"
      [actualTournament]="actualTournament"
      [actualTournamentArmyList$]="armyLists$"
      [teamRankingsForRound$]="finalTeamRankings$"
      [playerRankingsForRound$]="finalPlayerRankings$"
      [userPlayerData]="userPlayerData"
    ></tournament-team-ranking-list>
  </md-card>
</div>
