@import "../../../styles";

.fullscreen-mode{
  position: absolute;
  display: inline-block;
  top: $halve_tick;
  right: $main_tick;
}

.fullscreen-mode:hover{
  color: $hover_color;
  cursor: pointer;
}

.print-rankings-icon{
  position: absolute;
  display: inline-block;
  top: $halve_tick;
  right: 50px;
}

.print-rankings-icon:hover{
  color: $hover_color;
  cursor: pointer;
}

.solo-ranking-in-team{
  position: absolute;
  display: inline-block;
  top: $halve_tick;
  right: 100px;
}
.solo-ranking-in-team:hover{
  color: $hover_color;
  cursor: pointer;
}
