<md-dialog-content>
  <h4 *ngIf="!team" class="heading">Register for {{actualTournament.name}}</h4>
  <h4 *ngIf="team" class="heading">Join {{team.teamName}}</h4>
  <h4 *ngIf="team" class="sub-heading">Leader {{team.leaderName}}</h4>

  <md-input-container class="full-width">
    <input mdInput placeholder="Player Name" [value]="userPlayerData.getFullPlayerName()" disabled required>
  </md-input-container>
  <md-input-container class="full-width">
    <input mdInput placeholder="Locality" [(ngModel)]="locality">
  </md-input-container>

  <md-input-container class="full-width" *ngIf="team">
    <input mdInput placeholder="Team" [(ngModel)]="teamName" disabled required>
  </md-input-container>

  <div class="full-width" *ngIf="!team">
    <md-checkbox  *ngIf="allTeamNames?.length > 0"
                 [(ngModel)]="joinExistingTeam">
      <small>Join existing Team</small>
    </md-checkbox>
    <md-input-container *ngIf="!joinExistingTeam"
                        class="full-width">
      <input mdInput [(ngModel)]="teamName" placeholder="Team">
    </md-input-container>
    <md-select class="full-width-select-box" *ngIf="joinExistingTeam"
               placeholder="Team"
               [(ngModel)]="teamName">
      <md-option *ngFor="let teamName of allTeamNames" [value]="teamName">{{ teamName }}</md-option>
    </md-select>
  </div>
  <md-select class="full-width"
             required
             [(ngModel)]="faction"
             placeholder="Faction">
    <md-option *ngFor="let faction of factions" [value]="faction">{{ faction }}</md-option>
  </md-select>
</md-dialog-content>
<div md-dialog-actions>
  <div class="full-width">
    <button type="button" color="primary" md-raised-button (click)="dialogRef.close()">Close Dialog</button>
    <button  [disabled]="!faction"
            md-raised-button
            type="button"
            color="accent"
            class="right-align-button"
            (click)="saveTournamentRegistration()">
      Upload Registration
    </button>
  </div>
</div>
