<md-dialog-content>
  <h4 class="heading">Register for {{actualTournament.name}}</h4>
  <pre *ngIf="!userPlayerData">
    You can register only with a valid Player-Profile
  </pre>

  <form *ngIf="userPlayerData" [formGroup]="tournamentRegistrationForm" novalidate>

    <div class="form-group">

      <md-input-container
        class="full-width">
        <input mdInput type="text" placeholder="Player Name" formControlName="playerName" required>
      </md-input-container>
      <md-input-container
        class="full-width">
        <input mdInput type="text" placeholder="Team" formControlName="teamName">
      </md-input-container>
      <md-select class="full-width" placeholder="Faction" formControlName="faction">
        <md-option *ngFor="let faction of factions" [value]="faction">{{ faction }}</md-option>
      </md-select>
    </div>
  </form>
</md-dialog-content>
<div md-dialog-actions>
  <div class="full-width">
    <button type="button" color="primary" md-raised-button (click)="dialogRef.close()">Close Dialog</button>
    <button md-raised-button type="button" color="accent" class="right-align-button"
            (click)="saveTournamentRegistration()"
            [disabled]="tournamentRegistrationForm.invalid">
      Upload Registration
    </button>
  </div>
</div>
