

<md-list-item
  *ngFor="let tournament of tournaments; let even = even;"
  class="list-item"
  [ngClass]="{ even: even}"
  (click)="onSelect(tournament)">
  <md-icon md-list-avatar *ngIf="tournament.teamSize == ''">person</md-icon>
  <md-icon md-list-avatar *ngIf="tournament.teamSize > 1">group</md-icon>
  <h2 md-line >{{tournament.name}}</h2>
  <p md-line
     *ngIf="(tournament.beginDate | date:'MM/d/yy') === (tournament.endDate | date:'MM/d/yy')">
    {{tournament.beginDate | date:'MM/d/yy HH:mm'}} - {{tournament.endDate | date:'HH:mm'}}
  </p>
  <p  md-line
     *ngIf="(tournament.beginDate | date:'MM/d/yy') !== (tournament.endDate | date:'MM/d/yy')">
    {{tournament.beginDate | date:'MM/d/yy HH:mm'}}  -
    {{tournament.endDate | date:'MM/d/yy HH:mm'}}
  </p>
  <p  md-line >{{tournament.location}}</p>
  <span class="md-secondary-spacer"></span>
  <div class="md-secondary">?/{{tournament.maxParticipants}}</div>
</md-list-item>




