

<md-list-item *ngFor="let tournament of tournaments" class="tournament-list-item" (click)="onSelect(tournament)">
  <md-icon md-list-avatar *ngIf="tournament.teamSize == ''">person</md-icon>
  <md-icon md-list-avatar *ngIf="tournament.teamSize > 1">group</md-icon>
  <h2 md-line style="padding-bottom: 10px; font-weight: bold; ">{{tournament.name}}</h2>
  <p class="tournament-card-lines" md-line
     *ngIf="(tournament.beginDate | date:'MM/d/yy') === (tournament.endDate | date:'MM/d/yy')">
    {{tournament.beginDate | date:'MM/d/yy HH:mm'}} - {{tournament.endDate | date:'HH:mm'}}
  </p>
  <p class="tournament-card-lines" md-line
     *ngIf="(tournament.beginDate | date:'MM/d/yy') !== (tournament.endDate | date:'MM/d/yy')">
    {{tournament.beginDate | date:'MM/d/yy HH:mm'}}  -
    {{tournament.endDate | date:'MM/d/yy HH:mm'}}
  </p>
  <p class="tournament-card-lines" md-line style="padding-top: 5px;">{{tournament.location}}</p>
  <div class="md-secondary">?/{{tournament.maxParticipants}}</div>
</md-list-item>




