<h2 class="heading">MySite</h2>

<md-card class="single-list-card">
  <mdl-tabs mdl-ripple mdl-tab-active-index="0">
    <mdl-tab-panel>
      <mdl-tab-panel-title>
        <span>My Tournaments</span>
      </mdl-tab-panel-title>
      <mdl-tab-panel-content>
        <h3 class="heading">My organized Tournaments ({{(allTournaments$| async) ?.length}})</h3>
        <button md-fab class="create-action" (click)="openCreateTournamentDialog()">
          <md-icon>add</md-icon>
        </button>

        <span *ngIf="(groupedTournaments$ | async).length == 0">No Tournaments found</span>
        <mdl-list *ngFor="let groupedTournaments of groupedTournaments$ | async">
          <h4 md-subheader>{{groupedTournaments.monthYear}} ({{groupedTournaments.tournaments.length}})</h4>
          <tournament-list [tournaments]="groupedTournaments.tournaments"></tournament-list>
          <md-divider></md-divider>
        </mdl-list>
      </mdl-tab-panel-content>
    </mdl-tab-panel>
  </mdl-tabs>
</md-card>


