<h4 class="heading">MySite</h4>

<md-card *ngIf="!userPlayerData">
  <md-card-title>You want to join as a Organizer or Player?</md-card-title>
  <md-card-subtitle>No Problem just create your Player-Profile</md-card-subtitle>
  <md-card-content>
    <p>
      In OpenTournament you can register for Tournaments. The Organizer can use your registration
      to add you easily to the tournament you just registered for.
    </p>
  </md-card-content>
  <button *ngIf="!loggedIn" type="button" color="primary" md-raised-button routerLink="/login">First Login/Register
  </button>
  <button *ngIf="loggedIn" type="button" color="primary" md-raised-button routerLink="/player-profile">Create Player
    Profile
  </button>
</md-card>

<mdl-tabs mdl-ripple *ngIf="userPlayerData">
  <mdl-tab-panel mdl-tab-panel-title="myProfile">
    <div class="flex-container">
      <player-form [playerData]="userPlayerData"></player-form>
    </div>
  </mdl-tab-panel>
  <mdl-tab-panel mdl-tab-panel-title="{{getMyTournamentsTitle()}}">
    <div class="flex-container">
      <md-card class="single-list-card">
        <h4 class="heading big-heading" *ngIf="(groupedTournaments$ | async).length == 0">It's time to organize a
          Tournament!</h4>
        <h4 class="heading" *ngIf="(groupedTournaments$ | async).length > 0">My organized Tournaments
          ({{(allMyTournaments$| async) ?.length}})</h4>
        <button md-fab class="create-action" (click)="openCreateTournamentDialog()">
          <md-icon>add</md-icon>
        </button>
        <mdl-list *ngFor="let groupedTournaments of groupedTournaments$ | async">
          <h4 md-subheader>{{groupedTournaments.monthYear}} ({{groupedTournaments.tournaments.length}})</h4>
          <tournament-list [tournaments]="groupedTournaments.tournaments"></tournament-list>
          <md-divider></md-divider>
        </mdl-list>
      </md-card>
    </div>
  </mdl-tab-panel>
  <mdl-tab-panel mdl-tab-panel-title="{{getMyRegistrationTitle()}}">
    <div class="flex-container">
      <md-card class="single-list-card">
        <h4 class="heading" *ngIf="myRegistrations.length == 0">No Registrations found</h4>
        <player-registrations-table *ngIf="myRegistrations.length > 0"
                                    [myRegistrations]="myRegistrations">
        </player-registrations-table>
      </md-card>
    </div>
  </mdl-tab-panel>
  <mdl-tab-panel mdl-tab-panel-title="{{getMyGamesTitle()}}">
    <div class="flex-container">
      <md-card class="single-list-card">
        <h4 class="heading" *ngIf="myGames?.length == 0">No Played Games found</h4>
        <player-games-table *ngIf="myGames?.length > 0"
                            [myGames]="myGames">
        </player-games-table>
      </md-card>
    </div>
  </mdl-tab-panel>
</mdl-tabs>



