<md-dialog-content>
<h3 class="heading" *ngIf="!teamMatch">Pair New Round</h3>
<h3 class="heading" *ngIf="teamMatch">Pair New Team Round</h3>
<div class="content-cards-container">
  <mdl-card class="pairing-options-card-wide" mdl-shadow="4">
    <mdl-card-title>
      <h4 mdl-card-title-text>Pairing Options</h4>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div class="full-width" *ngIf="!teamMatch">
        <mdl-switch [(ngModel)]="teamRestriction" mdl-ripple>
          <span class="small-text margin-right">{{teamRestriction ? '(YES)' : '(NO)'}}</span>
          <md-icon class="align-fix" mdTooltip="Player in same Team don't play against each other">
            info
          </md-icon>
          Team Restriction*
        </mdl-switch>
      </div>
      <div class="full-width">
        <mdl-switch [(ngModel)]="metaRestriction" mdl-ripple>
          <span class="small-text margin-right">{{metaRestriction ? '(YES)' : '(NO)'}}</span>
          <md-icon class="align-fix" mdTooltip="Player in same Locality don't play against each other">
            info
          </md-icon>
          Locality Restriction*
        </mdl-switch>
      </div>
      <div class="full-width">
        <mdl-switch [(ngModel)]="countryRestriction" mdl-ripple>
          <span class="small-text margin-right">{{countryRestriction ? '(YES)' : '(NO)'}}</span>
          <md-icon class="align-fix" mdTooltip="Player in same Country don't play against each other">
            info
          </md-icon>
          Country Restriction*
        </mdl-switch>
      </div>
      <div class="full-width small-text">
        * The pairing algorithm first try to prevent any restricted matches.
          If no pairing is possible, restriction will be ignored
      </div>
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button
        class="full-width-button"
        (click)="pairNewRound()"
        mdl-button
        mdl-colored="accent"
        mdl-button-type="raised"
        mdl-ripple>
        Pair new Round
      </button>
    </mdl-card-actions>
  </mdl-card>
  <h4 class="color-negative" *ngIf="(round + 1) > suggestedRoundToPlay">
    You are going to pair more Rounds than suggested!
    There is no guarantee for successful pairing.
  </h4>
</div>
</md-dialog-content>
<div md-dialog-actions>
  <button type="button" color="primary" md-raised-button (click)="dialogRef.close()">Close Dialog</button>
</div>
