<h4 class="heading">MySite - MyGames</h4>

<div class="my-site-nav-container">
  <button md-raised-button class="color-positive-background action-button"
          (click)="openCreateTournamentDialog()">
    New Tournament
  </button>
  <button md-raised-button class="color-info-background action-button"
          (click)="router.navigate(['/my-site/profile']);">
    MyProfile
  </button>
  <button md-raised-button class="color-info-background action-button"
          (click)="router.navigate(['/my-site/tournaments']);">
    MyTournaments
  </button>
  <button md-raised-button class="color-info-background action-button"
          (click)="router.navigate(['/my-site/registrations']);">
    MyRegistrations
  </button>
</div>

<ng-container *ngIf="(loadMyGames$ | async)">
  <div class="heading">Load MyGames...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>

<games-list [games]="allMyGames$ | async">

</games-list>
