<h1 class="list-heading">Online Players ({{filteredPlayers.length}}/{{allPlayers.length}})</h1>

<md-card>
  <md-input-container>
    <input class="full-width"
           type="text"
           mdInput
           placeholder="Filter Player"
           #seachInput
           (keyup)="search(seachInput.value)">
  </md-input-container>
</md-card>

<md-card>
  <span *ngIf="filteredPlayers.length == 0">No Players found</span>
  <md-list>
    <player-list [players]="filteredPlayers"></player-list>
  </md-list>
</md-card>
