<h2 class="heading">Online Players ({{(allPlayer$| async)?.length}})</h2>


<md-input-container class="player-search-container" floatPlaceholder="never">
  <input mdInput #searchField placeholder="Search for PlayerName">
</md-input-container>

<ng-container *ngIf="(loadPlayers$ | async)">
  <div class="heading">Load Players...</div>
  <div class="loading-spinner-container">
    <md-spinner></md-spinner>
  </div>
</ng-container>

<player-list [players]="allPlayerFiltered$ | async"></player-list>


