@import '../../../../styles';

.registrations-table-row{
  font-size: 0.8em;
  letter-spacing: 0;
}
.registrations-table-row:hover{
  cursor: pointer;
  background-color: $color_info;
}

@media only screen and (min-width: 500px) {

  .registrations-table-row{
    font-size: 1.2em;
  }
}

.registration-table-container{
  margin: $halve_tick;
}

@media only screen and (min-width: 500px) {
  .registration-table-container{
    min-width: 450px;

  }
}

@media only screen and (min-width: 800px) {
  .registration-table-container{
    min-width: 600px;

  }
}

.isPlayer{
  box-shadow: inset 0 0 10px $success_color;
}

.playerName-column{
  flex: 4;
}

.team-column{
  flex: 3;
}

.locality-column{
  flex: 3;
}

.faction-column{
  flex: 2;
}

.armyList-column{
  flex: 1;
}

.paid-column{
  flex: 1;
}

.actions-column{
  flex: 1;
}
