

<h1 class="heading">Welcome to OpenTournament!</h1>

<md-card *ngIf="!userPlayerData">
  <md-card-title>Are you a Player?</md-card-title>
  <md-card-subtitle>No Problem just create your Player-Profile</md-card-subtitle>
  <md-card-content>
    <p>
      In OpenTournament you can register for Tournaments. The Organizer can use your registration
      to add you easily to the tournament you just registered for.
    </p>
  </md-card-content>
  <md-card-actions>
    <button *ngIf="!loggedIn"  type="button" color="primary" md-raised-button routerLink="/login">First Login/Register</button>
    <button *ngIf="loggedIn"  type="button" color="primary" md-raised-button routerLink="/player-profile">Create Player Profile</button>
  </md-card-actions>
</md-card>

<md-card>
  <md-card-title>OpenTournament BETA</md-card-title>
  <md-card-subtitle>For the Players!</md-card-subtitle>
  <md-card-content>
    <p>
     OpenTournament is a platform to manage your Tournament. For now there is only one game supported: WM/HO.
      The usage of the platform is total free and there are no adds.
      Here is a list of same key features for Player:
    </p>
    <ul>
      <li>Under "MySite" you see all your Tournaments/Games/Registrations</li>
      <li>
        If you register with your Account and add information about your Team/Meta/Origin/Country
        the Tournament Organizer can easily prevent pairings for same Team...
        No more driving through the halve world to play against your local dude in the first round!
      </li>
      <li>
        Each registered Player has a ELO number.
        After a Tournament is finally uploaded for all Player with a ELO number there is a calculation for a new
        ELO number. For more Information see <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Wikipedia</a>
      </li>
      <li>
        A Tournament is published in "RealTime". So you can see as a Player all Rankings and Pairings immediately.
      </li>
      <li>
        If you registered for the Tournament you can see "Your Game" marked with a yellow border.
      </li>
      <li>
        You can enter the result of your game if the game is untouched. The organizer only have to check the
        result.
      </li>
      <li>You can upload your ArmyList with your Registration. Only the Tournament will see it for now</li>
      <li>
          There is a Option to enter your played list (you need to enter armyList in registration).
          After the Tournament you can see the exact result of all your games.
          + The actual ELO changes of the each Game!
      </li>
    </ul>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>OpenTournament BETA</md-card-title>
  <md-card-subtitle>For the Tournament Organizers</md-card-subtitle>
  <md-card-content>
    <p>
      Here is a list of same key features for Tournament Organizer:
    </p>
    <ul>
      <li>Under "MySite/MyTournaments" you see all your Organized Tournaments</li>
      <li>
        You can easily add registered players with one click. If they add a armyList you can check it there.
        No more mailing chaos!
      </li>
      <li>
        Adding "offline(not registered)" Players is fast and easy. Basically you only need a valid PlayerName.
        All other information is optional.
      </li>
      <li>
        There is a check to prevent starting a Tournament with uneven players. Then Mister DUMMY comes to play.
      </li>
      <li>
        You can choose to start pairing with some Restrictions. Team/Meta/Origin/Country. Each Round can be
        paired with separate options. You can always
      </li>
      <li>
        Players can add there result on there own (check is that the game is untouched and they are one of the player).
        Time saving ahead!
      </li>
      <li>
        Swapping Players is easy. Just Drag and Drop the Game Cards -> Long Click. There is a check to prevent
        you that players play twice against each other.
      </li>
      <li>
        After Pairing you can check the resulting pairings before a player see the new round.
        You have to "publish Round" that all players see the round. Maybe this will change later...
      </li>
      <li>
        You can always change Game Results afterwards!!
        All rankings will be changed immediately.
      </li>
      <li>
        Before you "Upload Tournament" you can change everything.
      </li>
    </ul>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>OpenTournament BETA</md-card-title>
  <md-card-subtitle>Features in Pipeline</md-card-subtitle>
  <md-card-content>
    <p>
      Here is a list of same features not yet implemented:
    </p>
    <ul>
      <li>Drop Player from Tournament</li>
      <li>Team Tournament mode. Much todo....</li>
      <li>
        There is a Android APP which can basically the same. I have to refactor some code there to
        enable working with the WebApp and the Android APP on the same data.
      </li>
     <li>
       Player List Details/ Global Game List -> finally everyone can see all uploaded games with all the data.
       Statistic Dudes get shinny Eyes!
     </li>
    </ul>
  </md-card-content>
</md-card>




