<h1 class="heading">Welcome to OpenTournament!</h1>

<md-card *ngIf="!loggedIn">
  <md-card-header>
    <md-card-title>First Login/Register</md-card-title>
    <md-card-subtitle>It's for free</md-card-subtitle>
  </md-card-header>
  <button  type="button" color="primary" md-raised-button routerLink="/login">Login/Register
  </button>

</md-card>

<md-card *ngIf="!userPlayerData && loggedIn">
  <md-card-header>
    <md-card-title>Are you a Player or Organizer?</md-card-title>
    <md-card-subtitle>No Problem just create your Player-Profile</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      In OpenTournament you can register for Tournaments. The Organizer can use your registration
      to add you easily to the tournament you just registered for.
    </p>
  </md-card-content>
  <button  type="button" color="primary" md-raised-button routerLink="/player-profile">Create Player
    Profile
  </button>
</md-card>

<md-card>
  <md-card-title>OpenTournament</md-card-title>
  <md-card-subtitle>For the Players!</md-card-subtitle>
  <md-card-content>
    <p>
      OpenTournament is a platform to manage your tournaments. For now there is only one game supported: WM/HO.
      The usage of the platform is total free and there are no adds.
      Here is a list of key features for players:
    </p>
    <ul>
      <li>
        ** NEW ** There is now the possibility to manage uploaded armyList state and payment state for registered
        players
      </li>
      <li>Under "MySite" you see all your MyProfile/Tournaments/Registrations/Games</li>
      <li>
        If you create an account and add information about your Locality/Country
        the tournament organizer can easily prevent pairings for same Team/Locality/Country.
        No more driving through the half world to play against your local dude in the first round!
      </li>
      <li>
        Each registered Player has an ELO number.
        After a tournament is finally uploaded for all player with an ELO number there is a calculation for a new
        ELO number. For more Information see <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Wikipedia</a>.
      </li>
      <li>
        A Tournament is published in "RealTime". So you can see as a player all rankings and pairings immediately.
      </li>
      <li>
        If you register for a tournament you can see "Your Game" marked with a yellow border.
      </li>

      <li>
        You can enter the result of your game if the game is untouched (you opponent or the organizer hasn't entered
        something). The organizer may check (and correct) the result.
      </li>
      <li>
        You can upload your ArmyList with your registration. Only the tournament organizer will see it.
        After the Tournament is finished. All can see what faction and lists were played through the tournament.
      </li>
      <li>
        There is a option to enter your played list (you need to insert one or more ArmyList(s) in registration).
        After the tournament you can see the exact result of all your games.
        On top you can see ELO changes for each game you played.
      </li>
    </ul>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>OpenTournament</md-card-title>
  <md-card-subtitle>For the Tournament Organizers</md-card-subtitle>
  <md-card-content>
    <p>
      Here is a list of same key features for Tournament Organizer:
    </p>
    <ul>
      <li>
        ** NEW ** TeamTournament Mode. Finally :)
      </li>
      <li>
        ** NEW ** There is now the possibility to manage uploaded armyList state and payment state for registered
        players.
        You can manage that state as an organizer.
      </li>
      <li>Under "MySite/MyTournaments" you see all your Organized Tournaments</li>
      <li>
        ** NEW ** you can add general information about the tournament.
        Everyone can see the important information in the tournament list
      </li>
      <li>
        ** NEW ** you have now the option to get a daily mail with all registered players and there armyLists
      </li>
      <li>
        You can easily add registered players with one click. If they add a ArmyList you can check it there.
        No more mailing chaos!
      </li>
      <li>
        Adding "offline(not registered)" players is fast and easy. Basically you only need a valid PlayerName.
        All other information is optional.
      </li>
      <li>
        There is a check to prevent starting a tournament with uneven players. Then player 'DUMMY' comes to play.
      </li>
      <li>
        You can choose to start pairing with some Restrictions. Team/Meta/Origin/Country. Each Round can be
        paired with separate options. You can always
      </li>
      <li>
        Players can add there result on there own (check is that the game is untouched and they are one of the player).
        Time saving ahead!
      </li>
      <li>
        Swapping Players is easy. Just drag and drop the Game Cards(Long Click). There is a check to prevent
        you new game parings where players already played against each other
      </li>
      <li>
        Presentation modes are available. Games as a simple small table and a fullscreen/projector mode.
      </li>
      <li>
        After pairing a game you can check the result of the pairings before a player can see the new round.
        You have to "publish Round" that all players see the round. Maybe this feature change later.
      </li>
      <li>
        You can always change Game Results afterwards!!
        All rankings will be changed immediately.
      </li>
      <li>
        Before you "Upload Tournament" you can change everything.
      </li>
    </ul>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>OpenTournament</md-card-title>
  <md-card-subtitle>Features in pipeline</md-card-subtitle>
  <md-card-content>
    <p>
      Here is a list of same features not yet implemented:
    </p>
    <ul>
      <li>Drop Player from Tournament</li>
      <li>
        Player List Details/ Global Game List -> finally everyone can see all uploaded games with all the data.
        Statistic Dudes get shinny Eyes!
      </li>
    </ul>
  </md-card-content>
</md-card>




