<h1 class="heading">Reset Password</h1>

<div class="flex-container">
  <md-card class="password-forget-card">
    <form [formGroup]="passwordForm" novalidate autocomplete="off">

      <div class="form-group">
        <md-input-container
          dividerColor="{{ (passwordForm.get('email').invalid && passwordForm.get('email').dirty) ? 'warn' : 'primary' }}"
          class="full-width">
          <input mdInput type="email" placeholder="Email" formControlName="email" required>
          <md-hint *ngIf="passwordForm.get('email').invalid && passwordForm.get('email').dirty" style="color: red">
            <span >{{passwordForm.get('email').getError('message')}}</span>
          </md-hint>
        </md-input-container>

      </div>

      <button md-raised-button type="button" class="full-width-button" color="primary"
              [disabled]="passwordForm.invalid" (click)="sendEmail()">Send Email
      </button>
    </form>
  </md-card>
</div>

