<!--<mdl-list-item lines="3"-->
               <!--class="list-item"-->
               <!--*ngFor="let registration of registrations; let i = index; let even = even;"-->
               <!--(click)="showRegistrationInfo(registration)"-->
               <!--[ngClass]="{'even': even, 'my-item':isItMe(registration.playerId)} ">-->

  <!--<mdl-list-item-primary-content>-->
    <!--<mdl-icon mdl-list-item-avatar mdl-badge="{{i +1}}" mdl-badge-overlap>person</mdl-icon>-->
    <!--<span class="player-name">{{registration.playerName | truncate:truncateMax}}</span>-->

    <!--<mdl-list-item-text-body>-->
      <!--<div class="registration-list-item">{{registration.faction}}</div>-->
      <!--<div mdTooltip="Team" class="registration-list-item" *ngIf="smallScreen">{{registration.teamName |-->
        <!--truncate:truncateMax}}-->
      <!--</div>-->
      <!--<div mdTooltip="Team - Locality" class="registration-list-item" *ngIf="!smallScreen">-->
        <!--{{registration.teamName | truncate:truncateMax }} - -->
        <!--{{registration.meta | truncate:truncateMax}}-->
      <!--</div>-->
    <!--</mdl-list-item-text-body>-->
  <!--</mdl-list-item-primary-content>-->

  <!--<span *ngIf="!smallScreen" class="list-secondary-spacer"></span>-->

  <!--<mdl-list-item-secondary-content *ngIf="!smallScreen && !registration.armyListsChecked && !registration.playerUploadedArmyLists">-->
    <!--<md-icon  md-tooltip="No ArmyList uploaded yet" class="color-negative list-icon">assignment_late</md-icon>-->
  <!--</mdl-list-item-secondary-content>-->
  <!--<mdl-list-item-secondary-content *ngIf="!smallScreen && registration.playerUploadedArmyLists">-->
    <!--<md-icon  md-tooltip="ArmyLists uploaded" class="color-secondary list-icon">assignment_returned</md-icon>-->
  <!--</mdl-list-item-secondary-content>-->
  <!--<mdl-list-item-secondary-content *ngIf="!smallScreen && registration.armyListsChecked">-->
    <!--<md-icon  md-tooltip="ArmyLists checked" class="color-positive list-icon">assignment_turned_in</md-icon>-->
  <!--</mdl-list-item-secondary-content>-->

  <!--<mdl-list-item-secondary-content *ngIf="!smallScreen && !registration.paymentChecked">-->
    <!--<md-icon  md-tooltip="Player has not paid yet" class="color-negative list-icon">money_off</md-icon>-->
  <!--</mdl-list-item-secondary-content>-->
  <!--<mdl-list-item-secondary-content *ngIf="!smallScreen && registration.paymentChecked">-->
    <!--<md-icon md-tooltip="Player has paid" class="color-positive list-icon">attach_money</md-icon>-->
  <!--</mdl-list-item-secondary-content>-->

  <!--<mdl-list-item-secondary-content-->
    <!--*ngIf="isItMe(registration.playerId) && actualTournament?.actualRound === 0">-->
    <!--<md-icon class="color-positive list-action"  md-tooltip="Add your ArmyList"-->
             <!--(click)="addArmyLists($event, registration)">playlist_add</md-icon>-->
  <!--</mdl-list-item-secondary-content>-->
  <!--<ng-container-->
    <!--*ngIf="(isAdmin || isCoOrganizer) && !registration.isTournamentPlayer  && actualTournament?.actualRound === 0 ">-->
    <!--<mdl-list-item-secondary-content>-->
      <!--<md-icon class="color-positive  list-action" md-tooltip="Accept Registration"-->
               <!--(click)="acceptRegistration($event, registration)">check_circle</md-icon>-->
    <!--</mdl-list-item-secondary-content>-->
  <!--</ng-container>-->
<!--</mdl-list-item>-->

<div class="registration-table-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource" mdSort>

    <ng-container cdkColumnDef="playerName">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="teamName-column">
        Player
      </md-header-cell>
      <md-cell *cdkCellDef="let team" class="teamName-column">
        {{registration.playerName}}
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="team">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="team-column">
        Team
      </md-header-cell>
      <md-cell *cdkCellDef="let registration" class="team-column">
        {{registration.teamName}}
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="locality">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="locality-column">
        Locality
      </md-header-cell>
      <md-cell *cdkCellDef="let registration" class="locality-column">
        {{registration.meta}}
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="faction">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="faction-column">
        Faction
      </md-header-cell>
      <md-cell *cdkCellDef="let registration" class="faction-column">
        {{registration.faction}}
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="armyList">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="armyList-column">
        ArmyList
      </md-header-cell>
      <md-cell *cdkCellDef="let registration" class="armyList-column">
        <md-icon  *ngIf="!registration.armyListsChecked && !registration.playerUploadedArmyLists"
                  md-tooltip="No ArmyList uploaded yet" class="color-negative list-icon">assignment_late</md-icon>
        <md-icon  *ngIf="!registration.armyListsChecked && registration.playerUploadedArmyLists"
                  md-tooltip="ArmyLists uploaded" class="color-secondary list-icon">assignment_returned</md-icon>
        <md-icon  *ngIf="registration.armyListsChecked && registration.playerUploadedArmyLists"
                  md-tooltip="ArmyLists checked" class="color-positive list-icon">assignment_turned_in</md-icon>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="paid">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="paid-column">
        Paid
      </md-header-cell>
      <md-cell *cdkCellDef="let registration" class="paid-column">
        <md-icon *ngIf="!registration.playerMarkedPayment"
                  md-tooltip="Player has not paid yet" class="color-negative list-icon">money_off</md-icon>
        <md-icon *ngIf="registration.playerMarkedPayment"
                 md-tooltip="Player has paid" class="color-positive list-icon">attach_money</md-icon>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="actions-column">
        Actions
      </md-header-cell>
      <md-cell *cdkCellDef="let registration" class="actions-column">
        <md-icon class="color-positive list-action" md-tooltip="Accept Registration"
          (click)="acceptRegistration($event, registration)">check_circle</md-icon>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row  class="registrations-table-row" *cdkRowDef="let registration; columns: displayedColumns;"></md-row>
  </md-table>
  <md-paginator #paginator
                [length]="registrationDb?.data.length"
                [pageIndex]="0"
                [pageSize]="20"
                [pageSizeOptions]="[10, 25, 50, 100]">
  </md-paginator>
</div>






