@import '../../../../styles';

.number-icon{
  float: left;
  margin-right: 16px;
  color: black;
}

.registration-list-item{
  font-size: 12px;
  letter-spacing: 0;
}

@media only screen and (min-width: 500px) {

  .registration-list-item{
    font-size: 1.2em;
  }

}

.playerName-column{
  flex: 6;
}

.team-column{
  flex: 4;
}

.locality-column{
  flex: 4;
}

.faction-column{
  flex: 3;
}

.armyList-column{
  flex: 1;
}

.paid-column{
  flex: 1;
}

.actions-column{
  flex: 1;
}
