<div class="registration-table-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource" mdSort>

    <ng-container cdkColumnDef="teamName">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="teamName-column">
        Team
      </md-header-cell>
      <md-cell *cdkCellDef="let team" class="teamName-column">
        {{team.teamName}} ({{team.registeredPlayerIds?.length}}/{{actualTournament?.teamSize}})
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="teamStatus">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="teamStatus-column">
        Status
      </md-header-cell>
      <md-cell *cdkCellDef="let team" class="teamStatus-column">
        <button *ngIf="userPlayerData && teamJoinAble(team) && !team.isAcceptedTournamentTeam"
                (click)="joinTeam($event, team)"
                class="color-positive-background"
                md-raised-button>
          <md-icon>add</md-icon>
          {{smallScreen ? 'Join': 'Join Team'}}
        </button>
        <div *ngIf="actualTournament?.teamSize <= team.registeredPlayerIds.length"
             class="align-fix color-positive team-capacity">
          Team Full
        </div>
      </md-cell>
    </ng-container>

    <ng-container *ngIf="!smallScreen"  cdkColumnDef="locality">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="locality-column">
        Locality
      </md-header-cell>
      <md-cell *cdkCellDef="let team" class="locality-column">
        {{team.meta}}
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="armyList">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="armyList-column">
        ArmyLists
      </md-header-cell>
      <md-cell *cdkCellDef="let team" class="armyList-column">
        <md-icon  *ngIf="!team?.armyListsChecked && !team?.playerUploadedArmyLists"
                  md-tooltip="No ArmyList uploaded yet" class="color-negative list-icon">assignment_late</md-icon>
        <md-icon  *ngIf="!team?.armyListsChecked && team?.playerUploadedArmyLists"
                  md-tooltip="ArmyLists uploaded" class="color-secondary list-icon">assignment_returned</md-icon>
        <md-icon  *ngIf="team?.armyListsChecked"
                  md-tooltip="ArmyLists checked" class="color-positive list-icon">assignment_turned_in</md-icon>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="paid">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="paid-column">
        Paid
      </md-header-cell>
      <md-cell *cdkCellDef="let team" class="paid-column">
        <md-icon *ngIf="!team.paymentChecked"
                  md-tooltip="Player has not paid yet" class="color-negative list-icon">money_off</md-icon>
        <md-icon *ngIf="team.paymentChecked"
                 md-tooltip="Player has paid" class="color-positive list-icon">attach_money</md-icon>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="actions-column">
        Actions
      </md-header-cell>
      <md-cell *cdkCellDef="let team" class="actions-column">
        <md-icon *ngIf="(isAdmin || isCoOrganizer) && !team.isAcceptedTournamentTeam"
                 class="color-positive list-action" md-tooltip="Accept Registration"
          (click)="acceptTeamRegistration($event, team)">check_circle</md-icon>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row   *cdkRowDef="let team; columns: displayedColumns;  let even = even"
              class="registrations-table-row"
              [ngClass]="{'isTeam': team.isAcceptedTournamentTeam, 'even': even, 'my-item':isItMyTeam(team)}"
              (click)="showTeamInfo(team)">
    </md-row>
  </md-table>
  <md-paginator #paginator
                [length]="teamDb?.data.length"
                [pageIndex]="0"
                [pageSize]="20"
                [pageSizeOptions]="[10, 25, 50, 100]">
  </md-paginator>
</div>






