
<div *ngIf="isAdmin" class="action-card-container">
  <md-card *ngIf="!actualTournament.uploaded" class="action-card" >
    <div class="action-button-wrapper">
      <button (click)="publishTournament()"
              type="button"
              class="color-positive-background action-button"
              md-raised-button>
        <md-icon>cloud_upload</md-icon>
        Publish All
      </button>
      <button (click)="undoTournamentEnd()"
              type="button"
              class="color-negative-background action-button"
              md-raised-button>
        <md-icon>undo</md-icon>
        Undo End
      </button>
    </div>
  </md-card>
</div>
<md-card class="tournament-ranking-table-card">
  <h3 class="heading">Final Rankings</h3>
  <tournament-ranking-list
    [isAdmin]="isAdmin"
    [round]="actualTournament.actualRound"
    [actualTournament]="actualTournament"
    [actualTournamentArmyList$]="armyLists"
    [rankingsForRound$]="finalPlayerRankings$"
    [userPlayerData]="userPlayerData"
  ></tournament-ranking-list>
</md-card>
