<h3>ArmyLists for {{tournamentPlayer.playerName}}</h3>
<md-card>
  <h4 *ngIf="armyLists.length == 0" class="heading">
    No ArmyLists found
  </h4>
   <md-tab-group *ngIf="armyLists.length > 0">
    <md-tab *ngFor="let armyList of armyLists" label="{{armyList.name}}">
      <md-input-container
        class="full-width">
      <textarea
        mdInput
        class="fix-height"
        disabled
        >{{armyList.list}}</textarea>
      </md-input-container>
    </md-tab>
  </md-tab-group>
</md-card>
<div md-dialog-actions>
  <button type="button" color="primary" md-raised-button (click)="dialogRef.close()">Close Dialog</button>
</div>
