<md-list-item
  *ngFor="let tournamentPlayer of tournamentPlayers; let i = index; let even = even;"
  [ngClass]="isItMe(tournamentPlayer.playerId)"
  [ngClass]="{ even: even}">
  <h2 md-list-avatar>{{i+1}}</h2>
  <md-icon md-list-avatar *ngIf="!tournamentPlayer.playerId">cloud_off</md-icon>
  <h3 md-line style="padding-bottom: 12px;">{{tournamentPlayer.playerName}}</h3>
  <p  md-line style="padding-top: 6px;">
    {{tournamentPlayer.teamName}} - {{tournamentPlayer.meta}} - {{tournamentPlayer.origin}}</p>

  <span class="md-secondary-spacer"></span>

  <img *ngIf="tournamentPlayer.playerId" class="md-secondary" src="../../../assets/my_crown_small.png">
  <span class="md-secondary">{{tournamentPlayer.elo}}</span>
  <md-icon *ngIf="isAdmin" (click)="deleteTournamentPlayer(tournamentPlayer)" class="md-secondary list-action negative">delete</md-icon>
</md-list-item>
