
<div class="game-table-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource" mdSort>

    <ng-container cdkColumnDef="playingField">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="playing-field-column">
        Table
      </md-header-cell>
      <md-cell *cdkCellDef="let game" class="playing-field-column">
        {{game.playingField}}
      </md-cell>
    </ng-container>


    <ng-container cdkColumnDef="teamOneTeamName">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="team-column">
        Team 1
      </md-header-cell>
      <md-cell *cdkCellDef="let game" class="team-column right-align"
               [ngClass]="{
               'game-table-won': (teamOneWon(game)),
               'game-table-lead': (teamOneLead(game)),
               'game-table-tie': (teamTie(game)),
               'game-table-behind': (teamTwoLead(game)),
               'game-table-lost': (teamTwoWon(game)),
               'drag-started':  draggedTournamentPlayerId === game.playerOneTournamentPlayerId,
               'drop-possible': draggedTournamentPlayerId && dropPossible(game, game.playerOneTournamentPlayerId),
               'drop-not-possible':  draggedTournamentPlayerId && !dropPossible(game, game.playerOneTournamentPlayerId)
               }"
               (click)="confirmDropTeam($event, game, game.playerOneTournamentPlayerId)">
        <div>{{game.playerOnePlayerName | truncate:truncateMax}}</div>
        <div class="small-text">
          (SC:{{game.playerOneScore}}/CP:{{game.playerOneControlPoints}}/VP:{{game.playerOneVictoryPoints}})
        </div>
      </md-cell>
    </ng-container>


    <ng-container cdkColumnDef="swapPlayerOne">
      <md-header-cell *cdkHeaderCellDef class="swap-column">
      </md-header-cell>
      <md-cell *cdkCellDef="let game" class="swap-column">
        <md-icon *ngIf="!game.finished && !draggedTournamentPlayerId && (isAdmin || isCoOrganizer)"
                 (click)="swapTeamOne($event, game)"
                 mdTooltip="Swap Team {{game.playerOnePlayerName}}"
                 class="swap-player-icon">swap_vert
        </md-icon>

        <md-icon *ngIf="draggedTournamentPlayerId === game.playerOneTournamentPlayerId"
                 (click)="endSwapTeam($event, game)"
                 mdTooltip="Cancel swap"
                 class="cancel-swap-player-icon">cancel
        </md-icon>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="result-team-one">
      <md-header-cell *cdkHeaderCellDef class="result-team-column">
        SGW Team1
      </md-header-cell>
      <md-cell *cdkCellDef="let game"
               class="result-team-column"
               [ngClass]="{
               'game-table-won': (teamOneWon(game)),
               'game-table-lead': (teamOneLead(game)),
               'game-table-tie': (teamTie(game)),
               'game-table-behind': (teamTwoLead(game)),
               'game-table-lost': (teamTwoWon(game))}">
        {{game.playerOneIntermediateResult}}
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="vs">
      <md-header-cell *cdkHeaderCellDef class="vs-column">
      </md-header-cell>
      <md-cell *cdkCellDef="let game" class="vs-column">VS</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="result-team-two">
      <md-header-cell *cdkHeaderCellDef class="result-team-column">
        SGW Team2
      </md-header-cell>
      <md-cell *cdkCellDef="let game"
               class="result-team-column"
               [ngClass]="{
               'game-table-won': (teamTwoWon(game)),
               'game-table-lead': (teamTwoLead(game)),
               'game-table-tie': (teamTie(game)),
               'game-table-behind': (teamOneLead(game)),
               'game-table-lost': (teamOneWon(game))}">
        {{game.playerTwoIntermediateResult}}
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="swapPlayerTwo">
      <md-header-cell *cdkHeaderCellDef class="swap-column">
      </md-header-cell>
      <md-cell *cdkCellDef="let game" class="swap-column">
        <md-icon *ngIf="!game.finished && !draggedTournamentPlayerId && (isAdmin || isCoOrganizer)"
                 (click)="swapTeamTwo($event, game)"
                 mdTooltip="Swap Te {{game.playerTwoPlayerName}}"
                 class="swap-player-icon">swap_vert
        </md-icon>

        <md-icon *ngIf="draggedTournamentPlayerId === game.playerTwoTournamentPlayerId"
                 (click)="endSwapTeam($event, game)"
                 mdTooltip="Cancel swap"
                 class="cancel-swap-player-icon">cancel
        </md-icon>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="teamTwoTeamName">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="team-column">
        Team 2
      </md-header-cell>
      <md-cell *cdkCellDef="let game" class="team-column"
               [ngClass]="{
               'game-table-won': (teamTwoWon(game)),
               'game-table-lead': (teamTwoLead(game)),
               'game-table-tie': (teamTie(game)),
               'game-table-behind': (teamOneLead(game)),
               'game-table-lost': (teamOneWon(game)),
               'drag-started': draggedTournamentPlayerId === game.playerTwoTournamentPlayerId,
               'drop-possible':draggedTournamentPlayerId && dropPossible(game, game.playerTwoTournamentPlayerId),
               'drop-not-possible': draggedTournamentPlayerId && !dropPossible(game, game.playerTwoTournamentPlayerId)
               }"
               (click)="confirmDropTeam($event, game, game.playerTwoTournamentPlayerId)">
        <div>{{game.playerTwoPlayerName | truncate:truncateMax}}</div>
        <div class="small-text">
          (SC:{{game.playerTwoScore}}/CP:{{game.playerTwoControlPoints}}/VP:{{game.playerTwoVictoryPoints}})
        </div>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions" >
      <md-header-cell *cdkHeaderCellDef md-sort-header class="actions-column">
        <ng-container *ngIf="(isAdmin || isCoOrganizer)">Action</ng-container>
      </md-header-cell>
      <md-cell *cdkCellDef="let game" class="actions-column">
        <div>
          <button *ngIf="!draggedTournamentPlayerId && (isAdmin || isCoOrganizer)  &&
                         !requestClearGame && !actualTournament?.finished && actualTournament?.actualRound === round"
                  (click)="requestClearGameResult($event, game)"
                  class="color-negative-background"
                  [ngClass]="{'small-button': smallScreen}"
                  md-raised-button>
            <md-icon>clear</md-icon>
            <ng-container *ngIf="!smallScreen">Reset</ng-container>
          </button>
          <button *ngIf="draggedTournamentPlayerId && (isAdmin || isCoOrganizer) && requestClearGame === game.id"
                  (click)="clearGameResultConfirm($event, game)"
                  class="color-positive-background"
                  [ngClass]="{'small-button': smallScreen}"
                  md-raised-button>
            <md-icon>check</md-icon>
            <ng-container *ngIf="!smallScreen">ok</ng-container>
          </button>
          <button *ngIf="draggedTournamentPlayerId && (isAdmin || isCoOrganizer)  &&  requestClearGame === game.id"
                  (click)="clearGameResultDecline($event, game)"
                  class="color-negative-background"
                  [ngClass]="{'small-button': smallScreen}"
                  md-raised-button>
            <md-icon>clear</md-icon>
            <ng-container *ngIf="!smallScreen">no</ng-container>
          </button>
        </div>
      </md-cell>
    </ng-container>

    <ng-container>
      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let game; columns: displayedColumns;  let even = even"
              [ngClass]="{'even': even,
                          'game-finished': game.finished,
                          'my-item':isItMyTeam(game),
                          'clickable-row': (!draggedTournamentPlayerId)}"
              (click)="openTeamGameResultDialog(game)">
      </md-row>
    </ng-container>
  </md-table>
  <md-paginator #paginator
                [length]="gamesDb?.data.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[10, 25, 50, 100]">
  </md-paginator>
</div>

